<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:31 GMT -->

<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/adminAssets/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/adminAssets/assets/css/main.css" rel="stylesheet" type="text/css" />
    <style>
        form {
            width: 500px;
            margin: 0 auto;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="number"],
        select {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            margin-bottom: 10px;
        }

        input[type="checkbox"] {
            margin-right: 5px;
        }

        button {
            padding: 10px 20px;
            border: none;
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/adminAssets/assets/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
                </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/getAdminDashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="">
                    <a class="menu-link" href="/admin/admin-products-list"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                </li>
                <li class="">
                    <a class="menu-link" href="/admin/admin-category-management"> <i class="icon icon material-icons"><img style="width: 23px;" src="\adminAssets\assets\imgs\icons\categories.png" alt=""></i>
                        <span class="text">Categories</span>
                    </a>
                </li>
                <li class="">
                    <a class="menu-link" href="/admin/orderList"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="">
                    <a class="menu-link" href="/admin/couponManagement"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Coupons</span>
                    </a>
                </li>
                <li class="">
                    <a class="menu-link" href="/admin/bannerManagement"> <i class="icon icon material-icons"><img style="width: 23px;" src="\adminAssets\assets\imgs\icons\ballot.png" alt=""></i>
                        <span class="text">Banner Management</span>
                    </a>
                </li>
                <li class="">
                    <a class="menu-link" href="/admin/discountManagement"> <i class="icon icon material-icons"><img style="width: 23px;" src="\adminAssets\assets\imgs\icons\Discount.png" alt=""></i>
                        <span class="text">Discount Management</span>
                    </a>
                </li>
                <li class="">
                    <a class="menu-link" href="/admin/transactions"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Transactions</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/transactions">Transaction</a>
                    </div>
                </li>

                <li class="">
                    <a class="menu-link" href="/admin/admin-user-management"> <i class="icon material-icons md-person"></i>
                        <span class="text">Users</span>
                    </a>
                </li>               
            </ul>
            <hr>

            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                    </div>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                        class="material-icons md-apps"></i> </button>
                <ul class="nav">

                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i>
                        </a>
                    </li>


                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                            aria-expanded="false"> <img class="img-xs rounded-circle"
                                src="/adminAssets/assets/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit
                                Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account
                                Settings</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/admin/"><i
                                    class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <h3>Edit coupon</h3>
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <div class="container">
                            <div class="col-md-6 offset-md-2 mt-4">
                                <h2 class="text-center mb-4">Edit Discount</h2>
                                <form action="/admin/saveEditedDiscount" 
                                id="updateDiscountForm"
                                method="POST"
                                >
                                    <!-- Hidden field to store the ID of the discount being edited -->
                                    <input type="hidden" id="discountId" name="discountId"
                                        value="<%= discountDoc._id %>">

                                    <div class="form-group">
                                        <label for="name">Name:</label>
                                        <input type="text" id="name" name="name" class="form-control"
                                            value="<%= discountDoc.name %>" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="discountOn">Discount On:</label>
                                        <select id="discountOn" name="discountOn" class="form-control" required
                                            onchange="handleDiscountOnChange()">
                                            <option value="product" <%=discountDoc.discountOn==='product' ? 'selected'
                                                : '' %>>Product</option>
                                            <option value="category" <%=discountDoc.discountOn==='category' ? 'selected'
                                                : '' %>>Category</option>
                                        </select>
                                    </div>
                                    <div id="productField" class="mt-3"
                                        style="<%= discountDoc.discountOn === 'product' ? '' : 'display: none;' %>">
                                        <label for="products">Products:</label>
                                        <select id="products" name="discountedProduct" class="form-control"
                                            style="width: 100%;" required>
                                            <% if(products){ %>
                                                <% products.forEach((product)=>{ %>
                                                    <option value="<%= product._id %>"
                                                        <%=discountDoc.discountedProduct==product._id ? 'selected' : ''%>><%= product.name %>
                                                    </option>
                                                    <% }) %>
                                                        <% } %>
                                        </select>
                                    </div>
                                    <div id="categoryField" class="mt-3"
                                        style="<%= discountDoc.discountOn === 'category' ? '' : 'display: none;' %>">
                                        <label for="categories">Categories:</label>
                                        <select id="categories" name="discountedCategory" class="form-control"
                                            style="width: 100%;" required>
                                            <% if(categories){ %>
                                                <% categories.forEach((category)=>{ %>
                                                    <option value="<%= category._id %>"
                                                        <%=discountDoc.discountedCategory==category._id ? 'selected'
                                                        : '' %>><%= category.name %>
                                                    </option>
                                                    <% }) %>
                                                        <% } %>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="discountType">Discount Type:</label>
                                        <select id="discountType" name="discountType" class="form-control" required
                                            onchange="handleDiscountTypeChange()">
                                            <option value="fixedAmount" <%=discountDoc.discountType==='fixedAmount'
                                                ? 'selected' : '' %>>Fixed Amount</option>
                                            <option value="percentage" <%=discountDoc.discountType==='percentage'
                                                ? 'selected' : '' %>>Percentage</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="discountValue">Discount Value:</label>
                                        <input type="number" id="discountValue" name="discountValue"
                                            class="form-control" value="<%= discountDoc.discountValue %>" required>
                                    </div>
                                    <div class="form-group"
                                        style="<%= discountDoc.discountType === 'percentage' ? '' : 'display: none;' %>"
                                        id="maxRedeemableAmt">
                                        <label for="maxRedeemableAmt">Max Redeemable Amount:</label>
                                        <input type="number" id="maxRedeemableAmount" name="maxRedeemableAmt"
                                            class="form-control" value="<%= discountDoc.maxRedeemableAmt %>">
                                    </div>
                                    <div class="form-group">
                                        <label for="startDate">Start Date:</label>
                                        <input type="date" id="startDate" name="startDate" class="form-control"
                                            value="<%= discountDoc.startDate.toISOString().split('T')[0] %>" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="endDate">End Date:</label>
                                        <input type="date" id="endDate" name="endDate" class="form-control"
                                            value="<%= discountDoc.endDate.toISOString().split('T')[0] %>" required>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-block mt-4">Update
                                        Discount</button>
                                </form>
                            </div>
                        </div>

                        <script>
    function handleDiscountTypeChange() {
        var discountTypeValue = document.getElementById("discountType").value;
        var maxRedeemableAmtField = document.getElementById("maxRedeemableAmt");

        // Show/hide "Max Redeemable Amount" field based on the selected value in the "Discount Type" field
        maxRedeemableAmtField.style.display = discountTypeValue === "percentage" ? "block" : "none";

        // Clear the value of maxRedeemableAmt when switching to a discount type other than "percentage"
        if (discountTypeValue !== "percentage") {
            maxRedeemableAmtField.value = "";
        }
    }

    function handleDiscountOnChange() {
        var discountOnValue = document.getElementById("discountOn").value;

        // Show/hide fields based on the selected value in the "Discount On" field
        document.getElementById("productField").style.display = discountOnValue === "product" ? "block" : "none";
        document.getElementById("categoryField").style.display = discountOnValue === "category" ? "block" : "none";
    }

    function handleMaxRedeemableAmtChange() {
        var discountTypeValue = document.getElementById("discountType").value;

        // Show/hide "Max Redeemable Amount" field based on the selected value in the "Discount Type" field
        document.getElementById("maxRedeemableAmt").style.display = discountTypeValue === "percentage" ? "block" : "none";
    }
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
      const form = document.getElementById('updateDiscountForm');
      form.addEventListener('submit', async (event) => {
        event.preventDefault();
  
        if (!validateForm()) {
          return;
        }
  
        const formData = {
          discountId: document.getElementById('discountId').value,
          name: document.getElementById('name').value.toUpperCase(),
          discountOn: document.getElementById('discountOn').value,
          discountedProduct: document.getElementById('products').value,
          discountedCategory: document.getElementById('categories').value,
          discountType: document.getElementById('discountType').value,
          discountValue: document.getElementById('discountValue').value,
          startDate: document.getElementById('startDate').value,
          endDate: document.getElementById('endDate').value,
        };
  
        // Only include maxRedeemableAmt in formData if discountType is "percentage"
        if (formData.discountType === 'percentage') {
          formData.maxRedeemableAmt = document.getElementById('maxRedeemableAmount').value;
          console.log('maxRedeemableAmt:', formData.maxRedeemableAmt);
        }
  
        console.log(formData);
  
        try {
          const response = await fetch("/admin/saveEditedDiscount", {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify(formData),
          });
  
          const data = await response.json();
  
          if (response.ok) {
            Swal.fire({
              icon: 'success',
              title: 'Success!',
              text: 'Discount details have been updated successfully!',
            })
            setTimeout(() => {
              window.location.href = '/admin/discountManagement';
            }, 1000);
            console.log('Discount updated successfully:', data);
          } else {
            Swal.fire({
              icon: 'error',
              title: 'Error!',
              text: data.message || 'An unknown error occurred.',
            })
          }
        } catch (error) {
          console.error('Failed to update discount:', error);
          Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'Something went wrong! Please try again.',
          });
        }
      });
    });
  
    function validateForm() {
      // Validate start date and end date
      var startDate = document.getElementById("startDate").value.trim();
      var endDate = document.getElementById("endDate").value.trim();
  
      var currentDate = new Date().toISOString().split("T")[0];
      
      if (!startDate || new Date(startDate) < new Date(currentDate)) {
        Swal.fire({
          icon: "error",
          title: "Validation Error",
          text: "Start Date should not be in the past",
        });
        return false;
      }
  
      if (!endDate || new Date(endDate) < new Date(startDate)) {
        Swal.fire({
          icon: "error",
          title: "Validation Error",
          text: "End Date should be after the Start Date",
        });
        return false;
      }
  
      // Validate other fields
      var name = document.getElementById("name").value.trim();
      var discountOn = document.getElementById("discountOn").value.trim();
      var discountType = document.getElementById("discountType").value.trim();
      var discountValue = document.getElementById("discountValue").value.trim();
      var maxRedeemableAmount = document.getElementById("maxRedeemableAmount").value.trim();
  
      if (!name || !discountOn || !discountType || !discountValue) {
        Swal.fire({
          icon: "error",
          title: "Validation Error",
          text: "All fields are required",
        });
        return false;
      }
  
      if (name.includes(' ')) {
        Swal.fire({
          icon: "error",
          title: "Validation Error",
          text: "Name should not contain only spaces",
        });
        return false;
      }
  
      if (discountValue < 0 || (maxRedeemableAmount !== "" && maxRedeemableAmount < 0)) {
        Swal.fire({
          icon: "error",
          title: "Validation Error",
          text: "Discount values must not be negative",
        });
        return false;
      }
  
      return true;
    }
  </script>
  
    



                    </div>
        </section> <!-- content-main end// -->

        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                        document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script src="/adminAssets/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/adminAssets/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/adminAssets/assets/js/vendors/select2.min.js"></script>
    <script src="/adminAssets/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/adminAssets/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/adminAssets/assets/js/main.js" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:32 GMT -->

</html>