<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:31 GMT -->
<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/adminAssets/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/adminAssets/assets/css/main.css" rel="stylesheet" type="text/css" />
    <style>
        form {
          width: 500px;
          margin: 0 auto;
        }
    
        label {
          display: block;
          margin-bottom: 5px;
        }
    
        input[type="text"], input[type="number"], select {
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          margin-bottom: 10px;
        }
    
        input[type="checkbox"] {
          margin-right: 5px;
        }
    
        button {
          padding: 10px 20px;
          border: none;
          background-color: #007bff;
          color: #fff;
          cursor: pointer;
        }
      </style>
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/adminAssets/assets/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
          <ul class="menu-aside">
            <li class="menu-item active">
                <a class="menu-link" href="/admin/getAdminDashboard"> <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="">
                <a class="menu-link" href="/admin/admin-products-list"> <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products</span>
                </a>
            </li>
            <li class="">
                <a class="menu-link" href="/admin/admin-category-management"> <i class="icon icon material-icons"><img style="width: 23px;" src="\adminAssets\assets\imgs\icons\categories.png" alt=""></i>
                    <span class="text">Categories</span>
                </a>
            </li>
            <li class="">
                <a class="menu-link" href="/admin/orderList"> <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Orders</span>
                </a>
            </li>
            <li class="">
                <a class="menu-link" href="/admin/couponManagement"> <i class="icon material-icons md-add_box"></i>
                    <span class="text">Coupons</span>
                </a>
            </li>
            <li class="">
                <a class="menu-link" href="/admin/bannerManagement"> <i class="icon icon material-icons"><img style="width: 23px;" src="\adminAssets\assets\imgs\icons\ballot.png" alt=""></i>
                    <span class="text">Banner Management</span>
                </a>
            </li>
            <li class="">
                <a class="menu-link" href="/admin/discountManagement"> <i class="icon icon material-icons"><img style="width: 23px;" src="\adminAssets\assets\imgs\icons\Discount.png" alt=""></i>
                    <span class="text">Discount Management</span>
                </a>
            </li>
            <li class="">
                <a class="menu-link" href="/admin/transactions"> <i class="icon material-icons md-monetization_on"></i>
                    <span class="text">Transactions</span>
                </a>
                <div class="submenu">
                    <a href="/admin/transactions">Transaction</a>
                </div>
            </li>

            <li class="">
                <a class="menu-link" href="/admin/admin-user-management"> <i class="icon material-icons md-person"></i>
                    <span class="text">Users</span>
                </a>
            </li>               
        </ul>
            <hr>
            
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                    </div>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">

                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>


                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/adminAssets/assets/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/admin/"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <h3>Edit coupon</h3>
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <form id="coupon-form" action="/admin/saveEditedCoupon" method="post">
                            <input type="hidden" id="couponId" name="couponId" value="<%= couponDoc._id %>">
                            <label for="code">Coupon Code:</label>
                            <input type="text" value="<%= couponDoc.code %>" id="code" name="code" placeholder="Enter a unique coupon code" required>
                            <label for="discountType">Discount Type:</label>
                            <select name="discountType" id="discountType">
                              <option value="percentage" <%= couponDoc.discountType === 'percentage' ? 'selected' : '' %>>Percentage Discount</option>
                              <option value="fixedAmount" <%= couponDoc.discountType === 'fixedAmount' ? 'selected' : '' %>>Fixed Amount Discount</option>
                            </select>
                            <label for="discountValue">Discount Value:</label>
                            <input value="<%= couponDoc.discountValue %>" type="number" id="discountValue" name="discountValue" placeholder="Enter the discount value" required>
                            <label for="minOrderAmount">Minimum Order Amount:</label>
                            <input value="<%= couponDoc.minOrderAmount %>" type="number" id="minOrderAmount" name="minOrderAmount" placeholder="Enter the minimum order amount (optional)" min="0">
                            <div id="redeemInput" style="display: none;" >
                                <label for="maxRedeemableAmount">Maximum Redeemable Amount:</label>
                                <input 
                                disabled
                                value="<%= couponDoc.discountType==="fixedAmount"?couponDoc.discountValue:couponDoc.maxRedeemableAmt%>"
                                  type="number"
                                  id="maxRedeemableAmount"
                                  name="maxRedeemableAmount"
                                  placeholder="Enter the maximum redeemable amount"
                                  min="1"
                                />
                              </div>
                            <label for="expirationDate">Expiration Date:</label>
                            <input  value="<%= couponDoc.expirationDate.toISOString().split('T')[0] %>" type="date" id="expirationDate" name="expirationDate" placeholder="Select the expiration date" required>
                            <button type="submit">Save changes</button>
                        </form>
                         </div>
                    </div>
                    <script>
                    document.addEventListener("DOMContentLoaded", function () {
                      // Prevent `e` and `E` in number fields
                      const preventEAndE = (event) => {
                        const key = event.key;
                        if (key === 'e' || key === 'E') {
                          event.preventDefault();
                        }
                      };
                    
                      // Add event listeners to number fields
                      const numberFields = document.querySelectorAll('input[type="number"]');
                      numberFields.forEach((field) => {
                        field.addEventListener('keydown', preventEAndE);
                      });
                    
                      // Form submission script
                      const form = document.getElementById('coupon-form');
                      form.addEventListener('submit', async (event) => {
                        event.preventDefault();
                    
                        // Validate form
                        if (!validateForm()) {
                          return;
                        }
                    
                        const formData = {
                          couponId: document.getElementById('couponId').value,
                          code: document.getElementById('code').value,
                          discountType: document.getElementById('discountType').value,
                          discountValue: document.getElementById('discountValue').value,
                          minOrderAmount: document.getElementById('minOrderAmount').value,
                          maxRedeemableAmount: document.getElementById('maxRedeemableAmount').value,
                          expirationDate: document.getElementById('expirationDate').value,
                        };
                    
                        // Only include maxRedeemableAmount in formData if discountType is "fixedAmount"
                        if (formData.discountType === 'fixedAmount') {
                          formData.maxRedeemableAmount = document.getElementById('maxRedeemableAmount').value;
                        }
                    
                        console.log(formData);
                    
                        try {
                          const response = await fetch("/admin/saveEditedCoupon", {
                            method: 'POST',
                            headers: {
                              'Content-Type': 'application/json',
                            },
                            body: JSON.stringify(formData),
                          });
                    
                          const data = await response.json();
                    
                          if (response.ok) {
                            Swal.fire({
                              icon: 'success',
                              title: 'Success!',
                              text: 'Coupon details have been updated successfully!',
                            });
                            setTimeout(() => {
                              window.location.href = '/admin/couponManagement';
                            }, 1500);
                            console.log('Coupon updated successfully:', data);
                          } else {
                            Swal.fire({
                              icon: 'error',
                              title: 'Error!',
                              text: data.message || 'An unknown error occurred.',
                            });
                          }
                        } catch (error) {
                          console.error('Failed to update coupon:', error);
                          Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Something went wrong! Please try again.',
                          });
                        }
                      });
                    
                      // Validation script
                      function validateForm() {
                        // Validate required fields
                        const requiredFields = ['code', 'discountType', 'discountValue', 'expirationDate'];
                        for (const field of requiredFields) {
                          const fieldElement = document.getElementById(field);
                          if (fieldElement.value.trim() === '') {
                            // Display SweetAlert error message and return false
                            Swal.fire({
                              icon: 'error',
                              title: 'Validation Error',
                              text: `${fieldElement.name} is required.`,
                            });
                            return false;
                          }
                        }
                    
                        // Validate number fields
                        const maxValueElement = document.getElementById('redeemInput');
                        if(maxValueElement.style.display==='block'){
                          if (maxValueElement.value.trim() === '' || fieldElement.value <= 0) {
                            // Display SweetAlert error message and return false
                            Swal.fire({
                              icon: 'error',
                              title: 'Validation Error',
                              text: `${maxValueElement.name} must be a positive value.`,
                            });
                            return false;
                          }                          
                        }
                        const minOrderElement = document.getElementById('minOrderAmount').value===null?"empty":document.getElementById('minOrderAmount').value.trim();
                        console.log("====="+minOrderElement)
                        if(minOrderElement.value!=="empty"){
                          if (minOrderElement.value=== '' || minOrderElement.value <= 0) {
                            // Display SweetAlert error message and return false
                            Swal.fire({
                              icon: 'error',
                              title: 'Validation Error',
                              text: `${minOrderElement.name} must be a positive value.`,
                            });
                            return false;
                          }                          
                        }
                        const numberFields = ['discountValue'];
                        for (const field of numberFields) {
                          const fieldElement = document.getElementById(field);
                          if (fieldElement.value.trim() === '' || fieldElement.value <= 0) {
                            // Display SweetAlert error message and return false
                            Swal.fire({
                              icon: 'error',
                              title: 'Validation Error',
                              text: `${fieldElement.name} must be a positive value.`,
                            });
                            return false;
                          }
                        }
                    
                        // Validate expiration date
                        const expirationDateField = document.getElementById('expirationDate');
                        const today = new Date().toISOString().split('T')[0];
                        if (expirationDateField.value < today) {
                          // Display SweetAlert error message and return false
                          Swal.fire({
                            icon: 'error',
                            title: 'Validation Error',
                            text: 'Expiration date must be in the future.',
                          });
                          return false;
                        }
                    
                        // All validations passed, return true
                        return true;
                      }
                    });
                    
                      
                    </script>
                </div>
        </section> <!-- content-main end// -->
        
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="/adminAssets/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/adminAssets/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/adminAssets/assets/js/vendors/select2.min.js"></script>
    <script src="/adminAssets/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/adminAssets/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/adminAssets/assets/js/main.js" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:32 GMT -->
</html>