<!DOCTYPE html>
<html lang="en">
  <!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:35 GMT -->
  <head>
    <meta charset="utf-8" />
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/adminAssets/assets/imgs/theme/favicon.svg"
    />
    <!-- Template CSS -->
    <link
      href="/adminAssets/assets/css/main.css"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Add Bootstrap CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

 <!-- Add jQuery and Bootstrap JavaScript -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

 <!-- Add Select2 CSS -->
 <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

 <!-- Add Select2 JavaScript -->
 <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="/adminAssets/assets/css/main.css"> -->

  </head>

  <body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
      <div class="aside-top">
        <a href="index.html" class="brand-wrap">
          <img
            src="/adminAssets/assets/imgs/theme/Endurance3.webp"
            class="logo"
            alt="Evara Dashboard"
          />
        </a>
        <div>
          <button class="btn btn-icon btn-aside-minimize">
            <i class="text-muted material-icons md-menu_open"></i>
          </button>
        </div>
      </div>
      <nav>
        <ul class="menu-aside">
          <li class="menu-item active">
            <a class="menu-link" href="/admin">
              <i class="icon material-icons md-home"></i>
              <span class="text">Dashboard</span>
            </a>
          </li>
          <li class="">
            <a class="menu-link" href="/admin/admin-products-list">
              <i class="icon material-icons md-shopping_bag"></i>
              <span class="text">Products</span>
            </a>
          </li>
          <li class="">
            <a class="menu-link" href="/admin/admin-category-management">
              <i class="icon icon material-icons"
                ><img
                  style="width: 23px"
                  src="\adminAssets\assets\imgs\icons\categories.png"
                  alt=""
              /></i>
              <span class="text">Categories</span>
            </a>
          </li>
          <li class="">
            <a class="menu-link" href="/admin/orderList">
              <i class="icon material-icons md-shopping_cart"></i>
              <span class="text">Orders</span>
            </a>
          </li>
          <li class="">
            <a class="menu-link" href="/admin/couponManagement">
              <i class="icon material-icons md-add_box"></i>
              <span class="text">Coupons</span>
            </a>
          </li>
          <li class="">
            <a class="menu-link" href="/admin/bannerManagement">
              <i class="icon icon material-icons"
                ><img
                  style="width: 23px"
                  src="\adminAssets\assets\imgs\icons\ballot.png"
                  alt=""
              /></i>
              <span class="text">Banner Management</span>
            </a>
          </li>
          <li class="">
            <a class="menu-link" href="/admin/transactions">
              <i class="icon material-icons md-monetization_on"></i>
              <span class="text">Transactions</span>
            </a>
            <div class="submenu">
              <a href="/admin/transactions">Transaction</a>
            </div>
          </li>

          <li class="">
            <a class="menu-link" href="/admin/admin-user-management">
              <i class="icon material-icons md-person"></i>
              <span class="text">Users</span>
            </a>
            <div class="submenu">
              <a href="page-account-login.html">User management</a>
              <!-- <a href="page-account-register.html">User registration</a>
                        <a href="page-error-404.html">Error 404</a> -->
            </div>
          </li>

          <li class="menu-item">
            <a class="menu-link" href="page-reviews.html">
              <i class="icon material-icons md-comment"></i>
              <span class="text">Reviews</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="page-brands.html">
              <i class="icon material-icons md-stars"></i>
              <span class="text">Brands</span>
            </a>
          </li>
        </ul>
        <hr />
        <ul class="menu-aside">
          <li class="menu-item has-submenu">
            <a class="menu-link" href="#">
              <i class="icon material-icons md-settings"></i>
              <span class="text">Settings</span>
            </a>
            <div class="submenu">
              <a href="page-settings-1.html">Setting sample 1</a>
            </div>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="page-blank.html">
              <i class="icon material-icons md-local_offer"></i>
              <span class="text"> Starter page </span>
            </a>
          </li>
        </ul>
        <br />
        <br />
      </nav>
    </aside>
    <main class="main-wrap">
      <header class="main-header navbar">
        <div class="col-nav">
          <button
            class="btn btn-icon btn-mobile me-auto"
            data-trigger="#offcanvas_aside"
          >
            <i class="material-icons md-apps"></i>
          </button>
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link btn-icon darkmode" href="#">
                <i class="material-icons md-nights_stay"></i>
              </a>
            </li>
            <li class="dropdown nav-item">
              <a
                class="dropdown-toggle"
                data-bs-toggle="dropdown"
                href="#"
                id="dropdownAccount"
                aria-expanded="false"
              >
                <img
                  class="img-xs rounded-circle"
                  src="/adminAssets/assets/imgs/people/avatar2.jpg"
                  alt="User"
              /></a>
              <div
                class="dropdown-menu dropdown-menu-end"
                aria-labelledby="dropdownAccount"
              >
                <a class="dropdown-item" href="#"
                  ><i class="material-icons md-perm_identity"></i>Edit
                  Profile</a
                >
                <a class="dropdown-item" href="#"
                  ><i class="material-icons md-settings"></i>Account Settings</a
                >
                <a class="dropdown-item" href="#"
                  ><i class="material-icons md-account_balance_wallet"></i
                  >Wallet</a
                >
                <a class="dropdown-item" href="#"
                  ><i class="material-icons md-receipt"></i>Billing</a
                >
                <a class="dropdown-item" href="#"
                  ><i class="material-icons md-help_outline"></i>Help center</a
                >
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-danger" href="#"
                  ><i class="material-icons md-exit_to_app"></i>Logout</a
                >
              </div>
            </li>
          </ul>
        </div>
      </header>
      <section class="content-main">
        <div>
        </div>
        <h5 class="font-sm" style="color: red"><%=locals.error%></h5>
        <h5 class="font-sm" style="color: rgb(0, 255, 38)">
          <%=locals.success%>
        </h5>

            <div class="container">
                <div class="col-md-6 offset-md-2 mt-4">
                  <h2 class="text-center mb-4">Create Discount</h2>
                  <form action="/admin/postAddDiscount" method="post" id="addDiscountForm" >
                    <div class="form-group">
                      <label for="name">Name:</label>
                      <input type="text" id="name" name="name" class="form-control" required>
                    </div>
                    <div class="form-group">
                      <label for="discountOn">Discount On:</label>
                      <select id="discountOn" name="discountOn" class="form-control" required onchange="handleDiscountOnChange()">
                        <option value="product">Product</option>
                        <option value="category">Category</option>
                      </select>
                    </div>
                    <div id="productField" class="mt-3">
                      <label for="products">Products:</label>
                      <select id="products" name="discountedProduct" class="form-control" style="width: 100%;" required>
                        <% if(products){ %>
                          <% products.forEach((product)=>{ %>
                            <option value="<%= product._id %>"><%= product.name %></option>
                          <% }) %> 
                        <% } %>
                      </select>
                    </div>
                    <div id="categoryField" class="mt-3" style="display: none;">
                      <label for="categories">Categories:</label>
                      <select id="categories" name="discountedCategory" class="form-control" style="width: 100%;" required>
                        <% if(categories){ %>
                          <% categories.forEach((category)=>{ %>
                            <option value="<%= category._id %>"><%= category.name %></option>
                          <% }) %> 
                        <% } %>
                      </select>
                    </div>
                    <div class="form-group">
                        <label for="discountType">Discount Type:</label>
                        <select id="discountType" name="discountType" class="form-control" required onchange="handleDiscountTypeChange()">
                            <option value="fixedAmount">Fixed Amount</option>
                          <option value="percentage">Percentage</option>
                        </select>
                      </div>
                    <div class="form-group">
                      <label for="discountValue">Discount Value:</label>
                      <input type="number" id="discountValue" name="discountValue"  class="form-control" required>
                    </div>
                    <div class="form-group" style="display: none;" id="maxRedeemableAmt">
                        <label for="maxRedeemableAmt">Max Redeemable Amount:</label>
                        <input type="number" id="maxRedeemableAmount" name="maxRedeemableAmt" s class="form-control">
                      </div>
                    <div class="form-group">
                      <label for="startDate">Start Date:</label>
                      <input type="date" id="startDate" name="startDate" class="form-control" required>
                    </div>
                    <div class="form-group">
                      <label for="endDate">End Date:</label>
                      <input type="date" id="endDate" name="endDate" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block mt-4">Create Discount</button>
                </div>
              </div>
          </form>
              <script>
                function validateForm() {
                  // Validate name
                  var name = document.getElementById("name").value;
                  if (!name) {
                    Swal.fire({
                      icon: "error",
                      title: "Validation Error",
                      text: "Name is required",
                    });
                    return false;
                  }
            
                  // Validate discountOn
                  var discountOn = document.getElementById("discountOn").value;
                  if (!discountOn) {
                    Swal.fire({
                      icon: "error",
                      title: "Validation Error",
                      text: "Discount On is required",
                    });
                    return false;
                  }
            
                  // Validate productField or categoryField based on discountOn value
                  if (discountOn === "product" && !document.getElementById("products").value) {
                    Swal.fire({
                      icon: "error",
                      title: "Validation Error",
                      text: "Products is required",
                    });
                    return false;
                  } else if (discountOn === "category" && !document.getElementById("categories").value) {
                    Swal.fire({
                      icon: "error",
                      title: "Validation Error",
                      text: "Categories is required",
                    });
                    return false;
                  }
            
                  // Validate discountType
                  var discountType = document.getElementById("discountType").value;
                  if (!discountType) {
                    Swal.fire({
                      icon: "error",
                      title: "Validation Error",
                      text: "Discount Type is required",
                    });
                    return false;
                  }
            
                  // Validate discountValue
                  var discountValue = document.getElementById("discountValue").value;
                  if (!discountValue || isNaN(parseFloat(discountValue))) {
                    Swal.fire({
                      icon: "error",
                      title: "Validation Error",
                      text: "Discount Value is required and must be a valid number",
                    });
                    return false;
                  }
            
                  // Validate startDate
                  var startDate = document.getElementById("startDate").value;
                  var currentDate = new Date().toISOString().split("T")[0]; // Get current date
                  if (!startDate || startDate < currentDate) {
                    Swal.fire({
                      icon: "error",
                      title: "Validation Error",
                      text: "Start Date is required and should not be in the past",
                    });
                    return false;
                  }
            
                  // Validate endDate
                  var endDate = document.getElementById("endDate").value;
                  if (!endDate || endDate < startDate) {
                    Swal.fire({
                      icon: "error",
                      title: "Validation Error",
                      text: "End Date is required and should be after the Start Date",
                    });
                    return false;
                  }
            
                  // All validations passed, submit the form
                  return true;
                }
            
                function handleDiscountTypeChange() {
      var discountTypeValue = document.getElementById("discountType").value;
      var maxRedeemableAmtField = document.getElementById("maxRedeemableAmt");

      // Show/hide "Max Redeemable Amount" field based on the selected value in the "Discount Type" field
      maxRedeemableAmtField.style.display = discountTypeValue === "percentage" ? "block" : "none";

      // Clear the value of maxRedeemableAmt when switching to a discount type other than "percentage"
      if (discountTypeValue !== "percentage") {
        maxRedeemableAmtField.value = "";
      }
    }
  </script>
          
          <script>
            function handleDiscountOnChange() {
              var discountOnValue = document.getElementById("discountOn").value;
          
              // Show/hide fields based on the selected value in the "Discount On" field
              document.getElementById("productField").style.display = discountOnValue === "product" ? "block" : "none";
              document.getElementById("categoryField").style.display = discountOnValue === "category" ? "block" : "none";
            }
          
            function handleDiscountTypeChange() {
              var discountTypeValue = document.getElementById("discountType").value;
          
              // Show/hide "Max Redeemable Amount" field based on the selected value in the "Discount Type" field
              document.getElementById("maxRedeemableAmt").style.display = discountTypeValue === "percentage" ? "block" : "none";
            }
          </script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const form = document.getElementById('addDiscountForm');
    form.addEventListener('submit', async (event) => {
      event.preventDefault();
      validateForm();
  
      const formData = {
        name: document.getElementById('name').value,
        discountOn: document.getElementById('discountOn').value,
        discountedProduct: document.getElementById('products').value,
        discountedCategory: document.getElementById('categories').value,
        discountType: document.getElementById('discountType').value,
        discountValue: document.getElementById('discountValue').value,
        startDate: document.getElementById('startDate').value,
        endDate: document.getElementById('endDate').value,
      };
  
      // Only include maxRedeemableAmt in formData if discountType is "percentage"
      if (formData.discountType === 'percentage') {
        formData.maxRedeemableAmt = document.getElementById('maxRedeemableAmount').value;
        console.log('maxRedeemableAmt:', formData.maxRedeemableAmt);
      }
  
      console.log(formData);
  
      try {
        const response = await fetch("/admin/postAddDiscount", {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(formData),
        });
  
        const data = await response.json();
  
        if (response.ok) {
            Swal.fire({
              icon: 'success',
              title: 'Success!',
              text: 'Discount added successfully!',
            })
            setTimeout(() => {
              window.location.href = '/admin/discountManagement';
            }, 1500);
            console.log('Discount added successfully:', data);
        } else {
          Swal.fire({
            icon: 'error',
            title: 'Error!',
            text: data.message || 'An unknown error occurred.',
          })
        }
      } catch (error) {
        console.error('Failed to add discount:', error);
        // You can show an error message to the user here
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: 'Something went wrong! Please try again.',
        });
      }
    });
  });
  </script>
                         
          

        <header class="card-header"></header>
        <!-- card-header end// -->


      </section>
      <!-- content-main end// -->
      <footer class="main-footer font-xs">
        <div class="row pb-30 pt-15">
          <div class="col-sm-6">
            <script>
              document.write(new Date().getFullYear());
            </script>
            ©, Evara - HTML Ecommerce Template .
          </div>
          <div class="col-sm-6">
            <div class="text-sm-end">All rights reserved</div>
          </div>
        </div>
      </footer>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="/adminAssets/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/adminAssets/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/adminAssets/assets/js/vendors/select2.min.js"></script>
    <script src="/adminAssets/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/adminAssets/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="/adminAssets/assets/js/vendors/chart.js"></script>
    <!-- Main Script -->
    <script
      src="/adminAssets/assets/js/main.js"
      type="text/javascript"
    ></script>
    <script
      src="/adminAssets/assets/js/custom-chart.js"
      type="text/javascript"
    ></script>
  </body>

  <!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:57 GMT -->
</html>
