<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend//admin/getAdminDashboard by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:35 GMT -->
<head>
    <meta charset="utf-8">
    <title>Endurance Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/adminAssets/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/adminAssets/assets/css/main.css" rel="stylesheet" type="text/css" />
    <!-- <link rel="stylesheet" type="text/css" href="/adminAssets/assets/css/main.css"> -->

</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="#" class="brand-wrap">
                <img src="/adminAssets/assets/imgs/theme/Endurance3.webp" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/getAdminDashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="">
                    <a class="menu-link" href="/admin/admin-products-list"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                </li>
                <li class="">
                    <a class="menu-link" href="/admin/admin-category-management"> <i class="icon icon material-icons"><img style="width: 23px;" src="\adminAssets\assets\imgs\icons\categories.png" alt=""></i>
                        <span class="text">Categories</span>
                    </a>
                </li>
                <li class="">
                    <a class="menu-link" href="/admin/orderList"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="">
                    <a class="menu-link" href="/admin/couponManagement"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Coupons</span>
                    </a>
                </li>
                <li class="">
                    <a class="menu-link" href="/admin/bannerManagement"> <i class="icon icon material-icons"><img style="width: 23px;" src="\adminAssets\assets\imgs\icons\ballot.png" alt=""></i>
                        <span class="text">Banner Management</span>
                    </a>
                </li>
                <li class="">
                    <a class="menu-link" href="/admin/discountManagement"> <i class="icon icon material-icons"><img style="width: 23px;" src="\adminAssets\assets\imgs\icons\Discount.png" alt=""></i>
                        <span class="text">Discount Management</span>
                    </a>
                </li>
                <li class="">
                    <a class="menu-link" href="/admin/transactions"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Transactions</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/transactions">Transaction</a>
                    </div>
                </li>

                <li class="">
                    <a class="menu-link" href="/admin/admin-user-management"> <i class="icon material-icons md-person"></i>
                        <span class="text">Users</span>
                    </a>
                </li>               
            </ul>
            <hr>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">         
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="\adminAssets\assets\imgs\people\profile1.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/admin/adminLogout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Dashboard </h2>
                    <p>Whole data about your business here</p>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-monetization_on"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Total Sales</h6>
                                <span>₹<%=statistics.totalSales[0].totalAmount.toLocaleString()%></span>
                                <span class="text-sm">
                                    No delivery charges.
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Orders</h6> <span><%=statistics.totalOrders%></span>
                                <span class="text-sm">
                                    All orders till now.
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-warning material-icons md-qr_code"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Products</h6> <span><%=statistics.totalProducts%></span>
                                <span class="text-sm">
                                    In <%=statistics.totalCategories%> Categories. 
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-info-light"><i class="text-info material-icons md-shopping_basket"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Total users</h6> <span><%=statistics.totalUsers%></span>
                                <span class="text-sm">
                                    Based on accounts.
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <input type="hidden" id="chartFeederData" value="<%= chartFeeder %>" />
            <div class="row">
                <div class="col-xl-8 col-lg-12">
                    <div class="card mb-4">
                        <article>
                            <h5 class="card-title">Sales statistics</h5>
                            <canvas id="salesStatsChart1" height="120px"></canvas>
                        </article>
                        <!-- Add a hidden input field to store chartFeeder data -->
                        <input type="hidden" id="chartFeederData" value='<%= JSON.stringify(chartFeeder) %>' />
                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
                        
                        <script>
                            (function ($) {
                                "use strict";
                        
                                // Retrieve chartFeeder data from the hidden input field
                                var chartFeederData = $('#chartFeederData').val();
                                var chartFeeder = JSON.parse(chartFeederData);
                                console.log(chartFeeder);
                        
                                /* Sale statistics Chart */
                                if (chartFeeder && chartFeeder.orderData) {
                                    var orderData = chartFeeder.orderData;
                                    var cancelData = chartFeeder.cancelData;
                                    var returnData = chartFeeder.returnData;

                        
                                    var ctx = document.getElementById('salesStatsChart1').getContext('2d');
                                    var chart = new Chart(ctx, {
                                        type: 'line',
                                        data: {
                                            labels: orderData.map(item => getMonthLabel(item._id)),
                                            datasets: [{
                                                label: 'Sales',
                                                tension: 0.3,
                                                fill: true,
                                                backgroundColor: 'rgba(44, 120, 220, 0.2)',
                                                borderColor: 'rgba(44, 120, 220)',
                                                data: orderData.map(item => item.count),

                                            },
                                            {
                        label: 'Cancels',
                        tension: 0.3,
                        fill: true,
                        backgroundColor: 'rgba(4, 209, 130, 0.2)',
                        borderColor: 'rgb(4, 209, 130)',
                        data: cancelData.map(item => item.count),
                    },
                    {
                        label: 'Returns',
                        tension: 0.3,
                        fill: true,
                        backgroundColor: 'rgba(380, 200, 230, 0.2)',
                        borderColor: 'rgb(380, 200, 230)',
                        data: returnData.map(item => item.count),
                    }]
                                        },
                                        options: {
                                            plugins: {
                                                legend: {
                                                    labels: {
                                                        usePointStyle: true,
                                                    },
                                                }
                                            }
                                        }
                                    });
                                }
                        
                                /* Sale statistics Chart */
 // end if
                        
                                function getMonthLabel(month) {
                                    const monthNames = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
                                    return monthNames[(month - 1) % 12];
                                }
                        
                            })(jQuery);
                        </script>
                        
                                                
                    </div>

                    <br><br>
                    <!-- <div class="row">
                        <div class="col-lg-5">
                            <div class="card mb-4">
                                <article class="card-body">
                                    <h5 class="card-title">New Members</h5>
                                    <div class="new-member-list">
                                        <div class="d-flex align-items-center justify-content-between mb-4">
                                            <div class="d-flex align-items-center">
                                                <img src="/adminAssets/assets/imgs/people/avatar4.jpg" alt="" class="avatar">
                                                <div>
                                                    <h6>Patric Adams</h6>
                                                    <p class="text-muted font-xs">
                                                        Sanfrancisco
                                                    </p>
                                                </div>
                                            </div>
                                            <a href="#" class="btn btn-xs"><i class="material-icons md-add"></i> Add</a>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between mb-4">
                                            <div class="d-flex align-items-center">
                                                <img src="/adminAssets/assets/imgs/people/avatar2.jpg" alt="" class="avatar">
                                                <div>
                                                    <h6>Dilan Specter</h6>
                                                    <p class="text-muted font-xs">
                                                        Sanfrancisco
                                                    </p>
                                                </div>
                                            </div>
                                            <a href="#" class="btn btn-xs"><i class="material-icons md-add"></i> Add</a>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between mb-4">
                                            <div class="d-flex align-items-center">
                                                <img src="/adminAssets/assets/imgs/people/avatar3.jpg" alt="" class="avatar">
                                                <div>
                                                    <h6>Tomas Baker</h6>
                                                    <p class="text-muted font-xs">
                                                        Sanfrancisco
                                                    </p>
                                                </div>
                                            </div>
                                            <a href="#" class="btn btn-xs"><i class="material-icons md-add"></i> Add</a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="card mb-4">
                                <article class="card-body">
                                    <h5 class="card-title">Recent activities</h5>
                                    <ul class="verti-timeline list-unstyled font-sm">
                                        <li class="event-list">
                                            <div class="event-timeline-dot">
                                                <i class="material-icons md-play_circle_outline font-xxl"></i>
                                            </div>
                                            <div class="media">
                                                <div class="me-3">
                                                    <h6><span>Today</span> <i class="material-icons md-trending_flat text-brand ml-15 d-inline-block"></i></h6>
                                                </div>
                                                <div class="media-body">
                                                    <div>
                                                        Lorem ipsum dolor sit amet consectetur
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event-list active">
                                            <div class="event-timeline-dot">
                                                <i class="material-icons md-play_circle_outline font-xxl animation-fade-right"></i>
                                            </div>
                                            <div class="media">
                                                <div class="me-3">
                                                    <h6><span>17 May</span> <i class="material-icons md-trending_flat text-brand ml-15 d-inline-block"></i></h6>
                                                </div>
                                                <div class="media-body">
                                                    <div>
                                                        Debitis nesciunt voluptatum dicta reprehenderit
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event-list">
                                            <div class="event-timeline-dot">
                                                <i class="material-icons md-play_circle_outline font-xxl"></i>
                                            </div>
                                            <div class="media">
                                                <div class="me-3">
                                                    <h6><span>13 May</span> <i class="material-icons md-trending_flat text-brand ml-15 d-inline-block"></i></h6>
                                                </div>
                                                <div class="media-body">
                                                    <div>
                                                        Accusamus voluptatibus voluptas.
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event-list">
                                            <div class="event-timeline-dot">
                                                <i class="material-icons md-play_circle_outline font-xxl"></i>
                                            </div>
                                            <div class="media">
                                                <div class="me-3">
                                                    <h6><span>05 April</span> <i class="material-icons md-trending_flat text-brand ml-15 d-inline-block"></i></h6>
                                                </div>
                                                <div class="media-body">
                                                    <div>
                                                        At vero eos et accusamus et iusto odio dignissi
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event-list">
                                            <div class="event-timeline-dot">
                                                <i class="material-icons md-play_circle_outline font-xxl"></i>
                                            </div>
                                            <div class="media">
                                                <div class="me-3">
                                                    <h6><span>26 Mar</span> <i class="material-icons md-trending_flat text-brand ml-15 d-inline-block"></i></h6>
                                                </div>
                                                <div class="media-body">
                                                    <div>
                                                        Responded to need “Volunteer Activities
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </article>
                            </div>
                        </div>
                    </div> -->
                </div>
                
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div>
                        <h5>Download sales report</h5>
                        <a href="/admin/salesReport/daily" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Daily</a>
                        <a href="/admin/salesReport/weekly" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Weekly</a>
                        <a href="/admin/salesReport/monthly" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Monthly</a>
                    </div>
                    

                </header>
                
            </div>

        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> © Endurance.
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="/adminAssets/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/adminAssets/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/adminAssets/assets/js/vendors/select2.min.js"></script>
    <script src="/adminAssets/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/adminAssets/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="/adminAssets/assets/js/vendors/chart.js"></script>
    <!-- Main Script -->
    <script src="/adminAssets/assets/js/main.js" type="text/javascript"></script>
    <script src="/adminAssets/assets/js/custom-chart.js" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend//admin/getAdminDashboard by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:57 GMT -->
</html>