<!DOCTYPE html>
<html class="no-js" lang="en">
<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->

<head>
  <meta charset="utf-8" />
  <title>Evara - eCommerce HTML Template</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta property="og:title" content="" />
  <meta property="og:type" content="" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/userAssets/assets/imgs/theme/favicon.svg" />
  <!-- Template CSS -->
  <link rel="stylesheet" href="/userAssets/assets/css/maind134.css?v=3.4" />
</head>

<body>
  <header class="header-area header-style-1 header-height-2">
    <div class="header-top header-top-ptb-1 d-none d-lg-block">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-3 col-lg-4">
            <div class="header-info">
              <ul>
                <li>
                  <i class="fi-rs-smartphone"></i>
                  <a href="#">(+01) - 2345 - 6789</a>
                </li>
                <li>
                  <i class="fi-rs-marker"></i><a href="page-contact.html">Our location</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xl-6 col-lg-4">
            <div class="text-center">
              <div id="news-flash" class="d-inline-block">
                <ul>
                  <li>
                    Get great devices up to 50% off
                    <a href="shop-grid-right.html">View details</a>
                  </li>
                  <li>Supper Value Deals - Save more with coupons</li>
                  <li>
                    Trendy 25silver jewelry, save up 35% off today
                    <a href="shop-grid-right.html">Shop now</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4">
            <div class="header-info header-info-right">
              <ul>
                <li>
                  <a class="language-dropdown-active" href="#">
                    <i class="fi-rs-world"></i> English
                    <i class="fi-rs-angle-small-down"></i></a>
                  <ul class="language-dropdown">
                    <li>
                      <a href="#"><img src="/userAssets/assets/imgs/theme/flag-fr.png" alt="" />Français</a>
                    </li>
                    <li>
                      <a href="#"><img src="/userAssets/assets/imgs/theme/flag-dt.png" alt="" />Deutsch</a>
                    </li>
                    <li>
                      <a href="#"><img src="/userAssets/assets/imgs/theme/flag-ru.png" alt="" />Pусский</a>
                    </li>
                  </ul>
                </li>
                <% if (loggedIn) { %>
                  <!-- User is logged in -->
                  <li>
                    <a href="/userAccount">Account</a>
                  </li>
                  <li>
                    <a href="/logout">Logout</a>
                  </li>
                  <% } else { %>
                    <!-- User is not logged in -->
                    <li>
                      <a href="/loginPage">Log In</a>
                    </li>
                    <li>
                      <a href="/page-signup">Sign Up</a>
                    </li>
                    <% } %>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
      <div class="container">
        <div class="header-wrap">
          <div class="logo logo-width-1">
            <a href="/index-4"><img src="/userAssets/assets/imgs/theme/Endurance3.webp" alt="logo" /></a>
          </div>
          <div class="header-right">
            <div class="header-action-right">
              <div class="header-action-2">
                <div class="header-action-icon-2">
                  <a href="/wishlist">
                    <img class="svgInject" alt="Evara" src="/userAssets/assets/imgs/theme/icons/icon-heart.svg" />
                    <span class="pro-count blue">4</span>
                  </a>
                </div>
                <div class="header-action-icon-2">
                  <div class="cart-dropdown-wrap cart-dropdown-hm2">
                    <ul>
                      <li>
                        <div class="shopping-cart-img">
                          <a href="shop-product-right.html"><img alt="Evara"
                              src="/userAssets/assets/imgs/shop/thumbnail-3.jpg" /></a>
                        </div>
                        <div class="shopping-cart-title">
                          <h4>
                            <a href="shop-product-right.html">Daisy Casual Bag</a>
                          </h4>
                          <h4><span>1 × </span>$800.00</h4>
                        </div>
                        <div class="shopping-cart-delete">
                          <a href="#"><i class="fi-rs-cross-small"></i></a>
                        </div>
                      </li>
                      <li>
                        <div class="shopping-cart-img">
                          <a href="shop-product-right.html"><img alt="Evara"
                              src="/userAssets/assets/imgs/shop/thumbnail-2.jpg" /></a>
                        </div>
                        <div class="shopping-cart-title">
                          <h4>
                            <a href="shop-product-right.html">Corduroy Shirts</a>
                          </h4>
                          <h4><span>1 × </span>$3200.00</h4>
                        </div>
                        <div class="shopping-cart-delete">
                          <a href="#"><i class="fi-rs-cross-small"></i></a>
                        </div>
                      </li>
                    </ul>
                    <div class="shopping-cart-footer">
                      <div class="shopping-cart-total">
                        <h4>Total <span>$4000.00</span></h4>
                      </div>
                      <div class="shopping-cart-button">
                        <a href="shop-cart.html" class="outline">View cart</a>
                        <a href="shop-checkout.html">Checkout</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-bottom header-bottom-bg-color sticky-bar">
      <div class="container">
        <div class="header-wrap header-space-between position-relative">
          <div class="logo logo-width-1 d-block d-lg-none">
            <a href="/index-4"><img src="/userAssets/assets/imgs/theme/Endurance3.webp" alt="logo" /></a>
          </div>
          <div class="header-nav d-none d-lg-flex">
            <div class="main-categori-wrap d-none d-lg-block">
              <div class="categori-dropdown-wrap categori-dropdown-active-large"></div>
            </div>
            <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
              <nav>
                <ul>
                  <li>
                    <a class="active" href="/index-4">Home <i></i></a>
                  </li>
                  <li>
                    <a href="page-about.html">About</a>
                  </li>

                  <li>
                    <a href="page-contact.html">Contact</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="header-action-right d-block d-lg-none">
            <div class="header-action-2">
              <div class="header-action-icon-2">
                <a href="shop-wishlist.html">
                  <img alt="Evara" src="/userAssets/assets/imgs/theme/icons/icon-heart.svg" />
                  <span class="pro-count white">4</span>
                </a>
              </div>
              <div class="header-action-icon-2">
                <a class="mini-cart-icon" href="shop-cart.html">
                  <img alt="Evara" src="/userAssets/assets/imgs/theme/icons/icon-cart.svg" />
                  <span class="pro-count white">2</span>
                </a>
                <div class="cart-dropdown-wrap cart-dropdown-hm2">
                  <ul>
                    <li>
                      <div class="shopping-cart-img">
                        <a href="shop-product-right.html"><img alt="Evara"
                            src="/userAssets/assets/imgs/shop/thumbnail-3.jpg" /></a>
                      </div>

                      <div class="shopping-cart-delete">
                        <a href="#"><i class="fi-rs-cross-small"></i></a>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="header-action-icon-2 d-block d-lg-none">
                <div class="burger-icon burger-icon-white">
                  <span class="burger-icon-top"></span>
                  <span class="burger-icon-mid"></span>
                  <span class="burger-icon-bottom"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="mobile-header-active mobile-header-wrapper-style">
    <div class="mobile-header-wrapper-inner">
      <div class="mobile-header-top">
        <div class="mobile-header-logo">
          <a href="/index-4"><img src="/userAssets/assets/imgs/theme/Endurance3.webp" alt="logo" /></a>
        </div>
        <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
          <button class="close-style search-close">
            <i class="icon-top"></i>
            <i class="icon-bottom"></i>
          </button>
        </div>
      </div>
      <div class="mobile-header-content-area">
        <div class="mobile-search search-style-3 mobile-header-border">
          <form action="#">
            <input type="text" placeholder="Search for items…" />
            <button type="submit"><i class="fi-rs-search"></i></button>
          </form>
        </div>
        <div class="mobile-menu-wrap mobile-header-border">
          <div class="main-categori-wrap mobile-header-border"></div>
          <!-- mobile menu start -->
          <nav>
            <ul class="mobile-menu">
              <li class="menu-item-has-children">
                <span class="menu-expand"></span><a href="/index-4">Home</a>
              </li>

              <li class="menu-item-has-children">
                <span class="menu-expand"></span><a href="#">Language</a>
                <ul class="dropdown">
                  <li><a href="#">English</a></li>
                  <li><a href="#">French</a></li>
                  <li><a href="#">German</a></li>
                  <li><a href="#">Spanish</a></li>
                </ul>
              </li>
            </ul>
          </nav>
          <!-- mobile menu end -->
        </div>
        <div class="mobile-header-info-wrap mobile-header-border">
          <div class="single-mobile-header-info mt-30">
            <a href="page-contact.html"> Our location </a>
          </div>
          <div class="single-mobile-header-info">
            <a href="page-login-register.html">Log In / Sign Up </a>
          </div>
          <div class="single-mobile-header-info">
            <a href="#">(+01) - 2345 - 6789 </a>
          </div>
        </div>
        <div class="mobile-social-icon">
          <h5 class="mb-15 text-grey-4">Follow Us</h5>
          <a href="#"><img src="/userAssets/assets/imgs/theme/icons/icon-facebook.svg" alt="" /></a>
          <a href="#"><img src="/userAssets/assets/imgs/theme/icons/icon-twitter.svg" alt="" /></a>
          <a href="#"><img src="/userAssets/assets/imgs/theme/icons/icon-instagram.svg" alt="" /></a>
          <a href="#"><img src="/userAssets/assets/imgs/theme/icons/icon-pinterest.svg" alt="" /></a>
          <a href="#"><img src="/userAssets/assets/imgs/theme/icons/icon-youtube.svg" alt="" /></a>
        </div>
      </div>
    </div>
  </div>
  <main class="main">
    <div class="page-header breadcrumb-wrap">
      <div class="container">
        <div class="breadcrumb">
          <a href="/index-4" rel="nofollow">Home</a>
          <span></span> Shop <span></span> Your Cart
        </div>
      </div>
    </div>
    <div style="justify-content: center; align-items: center; margin-left: 25px; ">
      <h5 class="font-sm" style="color: red">
        <%=locals.subreddit%>
      </h5>
      <h5 class="font-sm" style="color: rgb(19, 162, 14)">
        <%=locals.verified%>
      </h5>
    </div>
    <section class="mt-50 mb-50">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="table-responsive">
              <%if(!userCart){%>
                <h5>There are no items in the cart..</h5>
                <%}else if(userCart.products.length==0){%>
                  <h5>There are no items in the cart..</h5>
                  <% }else{%>
                    <table class="table shopping-summery text-center clean">
                      <thead>
                        <tr class="main-heading">
                          <th scope="col">Image</th>
                          <th scope="col">Name</th>
                          <th scope="col">Price</th>
                          <th scope="col">Quantity</th>
                          <th scope="col">Subtotal</th>
                          <th scope="col">Remove</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% userCart.products.forEach((product)=> { %>
                          <tr>
                            <td class="image product-thumbnail">
                              <img src="<%=product.productId.photos[0] %>" alt="Product image" />
                            </td>
                            <td class="product-des product-name">
                              <h5 class="product-name">
                                <%= product.productId.name %>
                              </h5>
                            </td>
                            <td class="price" data-title="Price">
                              <% if (product.productId.discountStatus==="Active" ) { %>
                                <% if (product.productId.offerStart && product.productId.offerEnd && new Date()>= new
                                  Date(product.productId.offerStart) && new Date() <= new
                                    Date(product.productId.offerEnd)) { %>
                                    <span>₹<%= product.productId.selling_price - product.productId.discount %></span>
                                    <% } %>
                                      <% }else { %>
                                        <span>₹<%= product.productId.selling_price %></span>
                                        <% } %>
                            </td>
                            <td class="text-center" data-title="Stock">
                              <!-- Modify the HTML to include a data attribute for the product index -->
                              <a href="javascript:void(0);" class="qty-up" data-product-id="<%= product._id %>">
                                <i class="fi-rs-angle-small-up"></i>
                              </a>
                              <span class="qty-val quantity-display">
                                <%= Number(product.quantity) %>
                              </span>

                              <a href="javascript:void(0);" class="qty-down" data-product-id="<%= product._id %>">
                                <i class="fi-rs-angle-small-down"></i>
                              </a>
                            </td>
                            <td class="text-right" data-title="Cart">
                              <% if (product.productId.discountStatus==="Active" ) { %>
                                <% if (product.productId.offerStart && product.productId.offerEnd && new Date()>= new
                                  Date(product.productId.offerStart) && new Date() <= new
                                    Date(product.productId.offerEnd)) { %>

                                    <span class="price-span">
                                      <%=(product.productId.selling_price - product.productId.discount) *
                                        product.quantity %>
                                    </span>
                                    <% }}else{ %>

                                      <span class="price-span">
                                        <%=product.productId.selling_price * product.quantity %>
                                      </span>
                                      <% } %>
                            </td>
                            <td class="action" data-title="Remove">
                              <a href="#" class="text-muted">
                                <i class="fi-rs-trash delete-product" data-product-id="<%= product._id %>"></i>
                              </a>
                            </td>
                          </tr>
                          <% }); %>
                      </tbody>
                    </table>
                    <div class="grand-total">
                      <h3>Grand Total: ₹<span id="grandTotal">0</span></h3>
                      <a href="/checkoutFromCart" class="checkout-button">Checkout</a>
                    </div>
            </div>
            <%}%>
              <script>
                document.addEventListener("DOMContentLoaded", function () {
                  const qtyUpIcons = document.querySelectorAll(".qty-up");
                  const qtyDownIcons = document.querySelectorAll(".qty-down");

                  function updateGrandTotal() {
                    const priceSpans = document.querySelectorAll(".price-span");
                    let total = 0;

                    priceSpans.forEach((priceSpan) => {
                      total += parseFloat(priceSpan.textContent);
                    });

                    const grandTotalElement =
                      document.getElementById("grandTotal");
                    grandTotalElement.textContent = total;
                  }

                  qtyUpIcons.forEach((icon) => {
                    icon.addEventListener("click", function (event) {
                      event.preventDefault();

                      const productId = icon.getAttribute("data-product-id");

                      fetch("/cartQtyChange", {
                        method: "post",
                        headers: {
                          "Content-Type": "application/json",
                        },
                        body: JSON.stringify({
                          productId: productId,
                          action: "increase",
                        }),
                      })
                        .then((response) => response.json())
                        .then((data) => {
                          console.log("Quantity increased");
                          console.log(data.updatedSubtotal);

                          // Update the displayed quantity without reloading
                          const quantitySpan = icon.nextElementSibling;
                          console.log("Quantity span: ", quantitySpan);
                          quantitySpan.textContent = data.updatedQuantity;

                          // Update the subtotal
                          const row = icon.closest("tr");
                          const priceSpan = row.querySelector(
                            " .price-span"
                          );
                          console.log("Price span: ", priceSpan);
                          priceSpan.textContent = data.updatedSubtotal;

                          // Update the grand total
                          updateGrandTotal();
                        })
                        .catch((error) => {
                          console.log(
                            "An error happened during the increase process: " +
                            error
                          );
                        });
                    });
                  });

                  qtyDownIcons.forEach((icon) => {
                    icon.addEventListener("click", function (event) {
                      event.preventDefault();

                      const productId = icon.getAttribute("data-product-id");

                      fetch("/cartQtyChange", {
                        method: "post",
                        headers: {
                          "Content-Type": "application/json",
                        },
                        body: JSON.stringify({
                          productId: productId,
                          action: "decrease",
                        }),
                      })
                        .then((response) => response.json())
                        .then((data) => {
                          console.log("Quantity decreased");

                          // Update the displayed quantity without reloading
                          const quantitySpan = icon.previousElementSibling;
                          quantitySpan.textContent = data.updatedQuantity;

                          // Update the subtotal
                          const row = icon.closest("tr");
                          const priceSpan = row.querySelector(
                            " .price-span"
                          );
                          priceSpan.textContent = data.updatedSubtotal;

                          // Update the grand total
                          updateGrandTotal();
                        })
                        .catch((error) => {
                          console.log(
                            "An error happened during the decrease process: " +
                            error
                          );
                        });
                    });
                  });

                  // Call this function initially to set the grand total
                  updateGrandTotal();
                });
              </script>
              <script>
                document.addEventListener("DOMContentLoaded", function () {
                  const deleteIcons =
                    document.querySelectorAll(".delete-product");

                  deleteIcons.forEach((icon) => {
                    icon.addEventListener("click", function (event) {
                      event.preventDefault();

                      const productId = icon.getAttribute("data-product-id");

                      // Send a DELETE request to your server
                      fetch(`/removeProductFromCart/${productId}`, {
                        method: "delete",
                      })
                        .then((response) => {
                          if (response.ok) {
                            // Product was successfully removed from the cart
                            // Remove the product's row from the table
                            const row = icon.closest("tr");
                            if (row) {
                              row.remove();
                            }
                            window.location.reload()
                          } else {
                            // Handle the case where the deletion was not successful
                            console.log("Product removal failed");
                          }
                        })
                        .catch((error) => {
                          console.error(
                            "An error occurred during the deletion process: " +
                            error
                          );
                        });
                    });
                  });
                });
              </script>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="main">
    <section class="newsletter p-30 text-white wow fadeIn animated">
      <div class="container">
        <div class="row align-items-center"></div>
      </div>
    </section>
    <section class="section-padding footer-mid">
      <div class="container pt-15 pb-20">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="widget-about font-md mb-md-5 mb-lg-0">
              <div class="logo logo-width-1 wow fadeIn animated">
                <a href="/index-4"><img src="/userAssets/assets/imgs/theme/Endurance3.webp" alt="logo" /></a>
              </div>
              <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">
                Contact
              </h5>
              <p class="wow fadeIn animated">
                <strong>Address: </strong>562 Wellington Road, Street 32, San
                Francisco
              </p>
              <p class="wow fadeIn animated">
                <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
              </p>
              <p class="wow fadeIn animated">
                <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
              </p>
              <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">
                Follow Us
              </h5>
              <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                <a href="#"><img src="/userAssets/assets/imgs/theme/icons/icon-facebook.svg" alt="" /></a>
                <a href="#"><img src="/userAssets/assets/imgs/theme/icons/icon-twitter.svg" alt="" /></a>
                <a href="#"><img src="/userAssets/assets/imgs/theme/icons/icon-instagram.svg" alt="" /></a>
                <a href="#"><img src="/userAssets/assets/imgs/theme/icons/icon-pinterest.svg" alt="" /></a>
                <a href="#"><img src="/userAssets/assets/imgs/theme/icons/icon-youtube.svg" alt="" /></a>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-3">
            <h5 class="widget-title wow fadeIn animated">About</h5>
            <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Delivery Information</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms &amp; Conditions</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Support Center</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-3">
            <h5 class="widget-title wow fadeIn animated">My Account</h5>
            <ul class="footer-list wow fadeIn animated">
              <li><a href="#">Sign In</a></li>
              <li><a href="#">View Cart</a></li>
              <li><a href="#">My Wishlist</a></li>
              <li><a href="#">Track My Order</a></li>
              <li><a href="#">Help</a></li>
              <li><a href="#">Order</a></li>
            </ul>
          </div>
          <div class="col-lg-4">
            <h5 class="widget-title wow fadeIn animated">Install App</h5>
            <div class="row">
              <div class="col-md-8 col-lg-12">
                <p class="wow fadeIn animated">
                  From App Store or Google Play
                </p>
                <div class="download-app wow fadeIn animated">
                  <a href="#" class="hover-up mb-sm-4 mb-lg-0"><img class="active"
                      src="/userAssets/assets/imgs/theme/app-store.jpg" alt="" /></a>
                  <a href="#" class="hover-up"><img src="/userAssets/assets/imgs/theme/google-play.jpg" alt="" /></a>
                </div>
              </div>
              <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                <p class="mb-20 wow fadeIn animated">
                  Secured Payment Gateways
                </p>
                <img class="wow fadeIn animated" src="/userAssets/assets/imgs/theme/payment-method.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="container pb-20 wow fadeIn animated">
      <div class="row">
        <div class="col-12 mb-20">
          <div class="footer-bottom"></div>
        </div>
        <div class="col-lg-6">
          <p class="float-md-left font-sm text-muted mb-0">
            &copy; 2022, <strong class="text-brand">Evara</strong> - HTML
            Ecommerce Template
          </p>
        </div>
        <div class="col-lg-6">
          <p class="text-lg-end text-start font-sm text-muted mb-0">
            Designed by
            <a href="http://alithemes.com/" target="_blank">Alithemes.com</a>.
            All rights reserved
          </p>
        </div>
      </div>
    </div>
  </footer>
  <!-- Preloader Start -->
  <div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
      <div class="preloader-inner position-relative">
        <div class="text-center">
          <h5 class="mb-5">Now Loading</h5>
          <div class="loader">
            <div class="bar bar1"></div>
            <div class="bar bar2"></div>
            <div class="bar bar3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Vendor JS-->
  <script src="/userAssets/assets/js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="/userAssets/assets/js/vendor/jquery-3.6.0.min.js"></script>
  <script src="/userAssets/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
  <script src="/userAssets/assets/js/vendor/bootstrap.bundle.min.js"></script>
  <script src="/userAssets/assets/js/plugins/slick.js"></script>
  <script src="/userAssets/assets/js/plugins/jquery.syotimer.min.js"></script>
  <script src="/userAssets/assets/js/plugins/wow.js"></script>
  <script src="/userAssets/assets/js/plugins/jquery-ui.js"></script>
  <script src="/userAssets/assets/js/plugins/perfect-scrollbar.js"></script>
  <script src="/userAssets/assets/js/plugins/magnific-popup.js"></script>
  <script src="/userAssets/assets/js/plugins/select2.min.js"></script>
  <script src="/userAssets/assets/js/plugins/waypoints.js"></script>
  <script src="/userAssets/assets/js/plugins/counterup.js"></script>
  <script src="/userAssets/assets/js/plugins/jquery.countdown.min.js"></script>
  <script src="/userAssets/assets/js/plugins/images-loaded.js"></script>
  <script src="/userAssets/assets/js/plugins/isotope.js"></script>
  <script src="/userAssets/assets/js/plugins/scrollup.js"></script>
  <script src="/userAssets/assets/js/plugins/jquery.vticker-min.js"></script>
  <!-- Template  JS -->
  <script src="/userAssets/assets/js/maind134.js?v=3.4"></script>
  <script src="/userAssets/assets/js/shopd134.js?v=3.4"></script>
</body>

<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->

</html>