<!DOCTYPE html>
<html class="no-js" lang="en">
  <!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
  <head>
    <meta charset="utf-8" />
    <title>Endurance</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/userAssets/assets/imgs/theme/favicon.svg"
    />
    <!-- Template CSS -->
    <link rel="stylesheet" href="/userAssets/assets/css/maind134.css?v=3.4" />
    <!-- CSS styles for the modal -->
    <style>
      .custom-width {
        max-width: 800px; /* Set your desired width */
      }
      .copy-code-icon {
        cursor: pointer;
        color: #007bff; /* Blue color for link-like styles */
      }
    </style>
  </head>

  <body>
    <header class="header-area header-style-1 header-height-2">
      <div class="header-top header-top-ptb-1 d-none d-lg-block">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-xl-3 col-lg-4">
              <div class="header-info">
                <ul>
                  <li>
                    <i class="fi-rs-smartphone"></i>
                    <a href="#">(+01) - 2345 - 6789</a>
                  </li>
                  <li>
                    <i class="fi-rs-marker"></i
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xl-6 col-lg-4">
              <div class="text-center">
                <div id="news-flash" class="d-inline-block">
                  <ul>
                    <li>
                      Get great devices up to 50% off
                    </li>
                    <li>Supper Value Deals - Save more with coupons</li>

                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4">
              <div class="header-info header-info-right">
                <% if (loggedIn) { %>
                <!-- User is logged in -->
                <li>
                  <a href="/userAccount">Account</a>
                </li>
                <li>
                  <a href="/logout">Logout</a>
                </li>
                <% } else { %>
                <!-- User is not logged in -->
                <li>
                  <a href="/loginPage">Log In</a>
                </li>
                <li>
                  <a href="/page-signup">Sign Up</a>
                </li>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
        <div class="container">
          <div class="header-wrap">
            <div class="logo logo-width-1">
              <a href="/"
                ><img
                  src="/userAssets/assets/imgs/theme/Endurance3.webp"
                  alt="logo"
              /></a>
            </div>
            
            </div>
          </div>
        </div>
      </div>
      <div class="header-bottom header-bottom-bg-color sticky-bar">
        <div class="container">
          <div class="header-wrap header-space-between position-relative">
            <div class="logo logo-width-1 d-block d-lg-none">
              <a href="/"
                ><img
                  src="/userAssets/assets/imgs/theme/Endurance3.webp"
                  alt="logo"
              /></a>
            </div>
            <div class="header-nav d-none d-lg-flex">
              
              <div
                class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block"
              >
                
              </div>
            </div>
            <div class="hotline d-none d-lg-block">
              <p>
                <i class="fi-rs-headset"></i><span>Hotline</span> 1900 - 888
              </p>
            </div>
            <p class="mobile-promotion">
              Happy <span class="text-brand">Mother's Day</span>. Big Sale Up to
              40%
            </p>
            <div class="header-action-right d-block d-lg-none">
              <div class="header-action-2">
                <div class="header-action-icon-2">
                  <a href="shop-wishlist.html">
                    <img
                      alt="Evara"
                      src="/userAssets/assets/imgs/theme/icons/icon-heart.svg"
                    />
                    <span class="pro-count white">4</span>
                  </a>
                </div>
                <div class="header-action-icon-2">
                  <a class="mini-cart-icon" href="shop-cart.html">
                    <img
                      alt="Evara"
                      src="/userAssets/assets/imgs/theme/icons/icon-cart.svg"
                    />
                    <span class="pro-count white">2</span>
                  </a>
                  <div class="cart-dropdown-wrap cart-dropdown-hm2">
                    <ul>
                      <li>
                        <div class="shopping-cart-img">
                          <a href="shop-product-right.html"
                            ><img
                              alt="Evara"
                              src="/userAssets/assets/imgs/shop/thumbnail-3.jpg"
                          /></a>
                        </div>
                        <div class="shopping-cart-title">
                          <h4>
                            <a href="shop-product-right.html"
                              >Plain Striola Shirts</a
                            >
                          </h4>
                          <h3><span>1 × </span>$800.00</h3>
                        </div>
                        <div class="shopping-cart-delete">
                          <a href="#"><i class="fi-rs-cross-small"></i></a>
                        </div>
                      </li>
                      <li>
                        <div class="shopping-cart-img">
                          <a href="shop-product-right.html"
                            ><img
                              alt="Evara"
                              src="/userAssets/assets/imgs/shop/thumbnail-4.jpg"
                          /></a>
                        </div>
                        <div class="shopping-cart-title">
                          <h4>
                            <a href="shop-product-right.html"
                              >Macbook Pro 2022</a
                            >
                          </h4>
                          <h3><span>1 × </span>$3500.00</h3>
                        </div>
                        <div class="shopping-cart-delete">
                          <a href="#"><i class="fi-rs-cross-small"></i></a>
                        </div>
                      </li>
                    </ul>
                    <div class="shopping-cart-footer">
                      <div class="shopping-cart-total">
                        <h4>Total <span>$383.00</span></h4>
                      </div>
                      <div class="shopping-cart-button">
                        <a href="shop-cart.html">View cart</a>
                        <a href="shop-checkout.html">Checkout</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="header-action-icon-2 d-block d-lg-none">
                  <div class="burger-icon burger-icon-white">
                    <span class="burger-icon-top"></span>
                    <span class="burger-icon-mid"></span>
                    <span class="burger-icon-bottom"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="mobile-header-active mobile-header-wrapper-style">
      <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-top">
          <div class="mobile-header-logo">
            <a href="/"
              ><img
                src="/userAssets/assets/imgs/theme/Endurance3.webp"
                alt="logo"
            /></a>
          </div>
          <div
            class="mobile-menu-close close-style-wrap close-style-position-inherit"
          >
            <button class="close-style search-close">
              <i class="icon-top"></i>
              <i class="icon-bottom"></i>
            </button>
          </div>
        </div>
        <div class="mobile-header-content-area">
          <div class="mobile-search search-style-3 mobile-header-border">
            <form action="#">
              <input type="text" placeholder="Search for items…" />
              <button type="submit"><i class="fi-rs-search"></i></button>
            </form>
          </div>
          <div class="mobile-menu-wrap mobile-header-border">
            <div class="main-categori-wrap mobile-header-border">
              <a class="categori-button-active-2" href="#">
                <span class="fi-rs-apps"></span> Browse Categories
              </a>
              <div
                class="categori-dropdown-wrap categori-dropdown-active-small"
              >
                <ul>
                  <li>
                    <a href="shop-grid-right.html"
                      ><i class="evara-font-dress"></i>Women's Clothing</a
                    >
                  </li>
                  <li>
                    <a href="shop-grid-right.html"
                      ><i class="evara-font-tshirt"></i>Men's Clothing</a
                    >
                  </li>
                  <li>
                    <a href="shop-grid-right.html"
                      ><i class="evara-font-smartphone"></i> Cellphones</a
                    >
                  </li>
                  <li>
                    <a href="shop-grid-right.html"
                      ><i class="evara-font-desktop"></i>Computer & Office</a
                    >
                  </li>
                  <li>
                    <a href="shop-grid-right.html"
                      ><i class="evara-font-cpu"></i>Consumer Electronics</a
                    >
                  </li>
                  <li>
                    <a href="shop-grid-right.html"
                      ><i class="evara-font-home"></i>Home & Garden</a
                    >
                  </li>
                  <li>
                    <a href="shop-grid-right.html"
                      ><i class="evara-font-high-heels"></i>Shoes</a
                    >
                  </li>
                  <li>
                    <a href="shop-grid-right.html"
                      ><i class="evara-font-teddy-bear"></i>Mother & Kids</a
                    >
                  </li>
                  <li>
                    <a href="shop-grid-right.html"
                      ><i class="evara-font-kite"></i>Outdoor fun</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <!-- mobile menu start -->
            <nav>
              <ul class="mobile-menu">
                <li class="menu-item-has-children">
                  <span class="menu-expand"></span><a href="/">Home</a>
                  <ul class="dropdown">
                    <li><a href="/">Home 1</a></li>
                    <li><a href="index-2.html">Home 2</a></li>
                    <li><a href="index-3.html">Home 3</a></li>
                    <li><a href="index-4.html">Home 4</a></li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <span class="menu-expand"></span
                  ><a href="shop-grid-right.html">shop</a>
                  <ul class="dropdown">
                    <li>
                      <a href="shop-grid-right.html"
                        >Shop Grid – Right Sidebar</a
                      >
                    </li>
                    <li>
                      <a href="shop-grid-left.html">Shop Grid – Left Sidebar</a>
                    </li>
                    <li>
                      <a href="shop-list-right.html"
                        >Shop List – Right Sidebar</a
                      >
                    </li>
                    <li>
                      <a href="shop-list-left.html">Shop List – Left Sidebar</a>
                    </li>
                    <li><a href="shop-fullwidth.html">Shop - Wide</a></li>
                    <li class="menu-item-has-children">
                      <span class="menu-expand"></span
                      ><a href="#">Single Product</a>
                      <ul class="dropdown">
                        <li>
                          <a href="shop-product-right.html"
                            >Product – Right Sidebar</a
                          >
                        </li>
                        <li>
                          <a href="shop-product-left.html"
                            >Product – Left Sidebar</a
                          >
                        </li>
                        <li>
                          <a href="shop-product-full.html"
                            >Product – No sidebar</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li><a href="shop-filter.html">Shop – Filter</a></li>
                    <li><a href="shop-wishlist.html">Shop – Wishlist</a></li>
                    <li><a href="shop-cart.html">Shop – Cart</a></li>
                    <li><a href="shop-checkout.html">Shop – Checkout</a></li>
                    <li><a href="shop-compare.html">Shop – Compare</a></li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <span class="menu-expand"></span><a href="#">Mega menu</a>
                  <ul class="dropdown">
                    <li class="menu-item-has-children">
                      <span class="menu-expand"></span
                      ><a href="#">Women's Fashion</a>
                      <ul class="dropdown">
                        <li><a href="shop-product-right.html">Dresses</a></li>
                        <li>
                          <a href="shop-product-right.html">Blouses & Shirts</a>
                        </li>
                        <li>
                          <a href="shop-product-right.html"
                            >Hoodies & Sweatshirts</a
                          >
                        </li>
                        <li>
                          <a href="shop-product-right.html">Women's Sets</a>
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item-has-children">
                      <span class="menu-expand"></span
                      ><a href="#">Men's Fashion</a>
                      <ul class="dropdown">
                        <li><a href="shop-product-right.html">Jackets</a></li>
                        <li>
                          <a href="shop-product-right.html"
                            >Casual Faux Leather</a
                          >
                        </li>
                        <li>
                          <a href="shop-product-right.html">Genuine Leather</a>
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item-has-children">
                      <span class="menu-expand"></span
                      ><a href="#">Technology</a>
                      <ul class="dropdown">
                        <li>
                          <a href="shop-product-right.html">Gaming Laptops</a>
                        </li>
                        <li>
                          <a href="shop-product-right.html"
                            >Ultraslim Laptops</a
                          >
                        </li>
                        <li><a href="shop-product-right.html">Tablets</a></li>
                        <li>
                          <a href="shop-product-right.html"
                            >Laptop Accessories</a
                          >
                        </li>
                        <li>
                          <a href="shop-product-right.html"
                            >Tablet Accessories</a
                          >
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <span class="menu-expand"></span
                  ><a href="blog-category-fullwidth.html">Blog</a>
                  <ul class="dropdown">
                    <li>
                      <a href="blog-category-grid.html">Blog Category Grid</a>
                    </li>
                    <li>
                      <a href="blog-category-list.html">Blog Category List</a>
                    </li>
                    <li>
                      <a href="blog-category-big.html">Blog Category Big</a>
                    </li>
                    <li>
                      <a href="blog-category-fullwidth.html"
                        >Blog Category Wide</a
                      >
                    </li>
                    <li class="menu-item-has-children">
                      <span class="menu-expand"></span
                      ><a href="#">Single Product Layout</a>
                      <ul class="dropdown">
                        <li><a href="blog-post-left.html">Left Sidebar</a></li>
                        <li>
                          <a href="blog-post-right.html">Right Sidebar</a>
                        </li>
                        <li>
                          <a href="blog-post-fullwidth.html">No Sidebar</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <span class="menu-expand"></span><a href="#">Pages</a>
                  <ul class="dropdown">
                    <li><a href="page-about.html">About Us</a></li>
                    <li><a href="page-contact.html">Contact</a></li>
                    <li><a href="page-account.html">My Account</a></li>
                    <li>
                      <a href="page-login-register.html">login/register</a>
                    </li>
                    <li>
                      <a href="page-purchase-guide.html">Purchase Guide</a>
                    </li>
                    <li>
                      <a href="page-privacy-policy.html">Privacy Policy</a>
                    </li>
                    <li><a href="page-terms.html">Terms of Service</a></li>
                    <li><a href="page-404.html">404 Page</a></li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <span class="menu-expand"></span><a href="#">Language</a>
                  <ul class="dropdown">
                    <li><a href="#">English</a></li>
                    <li><a href="#">French</a></li>
                    <li><a href="#">German</a></li>
                    <li><a href="#">Spanish</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
            <!-- mobile menu end -->
          </div>
          <div class="mobile-header-info-wrap mobile-header-border">
            <div class="single-mobile-header-info mt-30">
              <a href="page-contact.html"> Our location </a>
            </div>
            <div class="single-mobile-header-info">
              <a href="page-login-register.html">Log In / Sign Up </a>
            </div>
            <div class="single-mobile-header-info">
              <a href="#">(+01) - 2345 - 6789 </a>
            </div>
          </div>
          <div class="mobile-social-icon">
            <h5 class="mb-15 text-grey-4">Follow Us</h5>
            <a href="#"
              ><img
                src="/userAssets/assets/imgs/theme/icons/icon-facebook.svg"
                alt=""
            /></a>
            <a href="#"
              ><img
                src="/userAssets/assets/imgs/theme/icons/icon-twitter.svg"
                alt=""
            /></a>
            <a href="#"
              ><img
                src="/userAssets/assets/imgs/theme/icons/icon-instagram.svg"
                alt=""
            /></a>
            <a href="#"
              ><img
                src="/userAssets/assets/imgs/theme/icons/icon-pinterest.svg"
                alt=""
            /></a>
            <a href="#"
              ><img
                src="/userAssets/assets/imgs/theme/icons/icon-youtube.svg"
                alt=""
            /></a>
          </div>
        </div>
      </div>
    </div>
    <main class="main">
      <div class="page-header breadcrumb-wrap">
        <div class="container">
          <div class="breadcrumb">
            <a href="/" rel="nofollow">Home</a>
            <span></span> Shop <span></span> Checkout
          </div>
        </div>
      </div>
      <section class="mt-50 mb-50">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="col-lg-6"></div>
              <div class="order_review">
                <div class="mb-20">
                  <h4>Your Orders</h4>
                </div>
                <div class="table-responsive order_table text-center">
                  <%if(!userCart||userCart.products.length===0){%>
                    <h5>There are no items in the cart..</h5>     
                    <% }else{%>             
                  <table class="table shopping-summery text-center clean">
                    <thead>
                      <tr class="main-heading">
                        <th scope="col">Image</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Subtotal</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% userCart.products.forEach((product) => { %>
                      <tr>
                        <td class="image product-thumbnail">
                          <img
                            src="<%=product.productId.photos[0] %>"
                            alt="Product image"
                          />
                        </td>
                        <td class="product-des product-name">
                          <h5 class="product-name">
                            <%= product.productId.name %>
                          </h5>
                        </td>
                        <td class="price" data-title="Price">
                          <% if (product.productId.discountStatus === "Active")
                          { %> <% if (product.productId.offerStart &&
                          product.productId.offerEnd && new Date() >= new
                          Date(product.productId.offerStart) && new Date() <=
                          new Date(product.productId.offerEnd)) { %>
                          <span
                            >₹<%= product.productId.selling_price -
                            product.productId.discount %></span
                          >
                          <% } %> <% }else { %>
                          <span>₹<%= product.productId.selling_price %></span>
                          <% } %>
                        </td>
                        <td class="text-center" data-title="Stock">
                          <a
                            href="javascript:void(0);"
                            class="qty-up"
                            data-product-id="<%= product._id %>"
                          >
                            <i class=""></i>
                          </a>
                          <span class="qty-val quantity-display"
                            ><%= Number(product.quantity) %></span
                          >

                          <a
                            href="javascript:void(0);"
                            class="qty-down"
                            data-product-id="<%= product._id %>"
                          >
                            <i class=""></i>
                          </a>
                        </td>
                        <td class="text-right" data-title="Cart">
                          <% if (product.productId.discountStatus === "Active")
                          { %> <% if (product.productId.offerStart &&
                          product.productId.offerEnd && new Date() >= new
                          Date(product.productId.offerStart) && new Date() <=
                          new Date(product.productId.offerEnd)) { %>

                          <span class="price-span"
                            ><%=(product.productId.selling_price -
                            product.productId.discount) * product.quantity
                            %></span
                          >
                          <% }}else{ %>

                          <span class="price-span"
                            ><%=product.productId.selling_price *
                            product.quantity %></span
                          >
                          <% } %>
                        </td>
                      </tr>
                      <% }); %>
                    </tbody>
                  </table>
                  <%}%>

                  <form id="coupon-form">
                    <div class="grand-total">
                      <h3>Grand Total:₹ <span id="grandTotal"></span></h3>
                      <h5>
                        Coupon discount:₹
                        <span class="discountValue" id="couponDiscount">0</span>
                      </h5>
                      <br />
                      <input
                        oninput="this.value = this.value.toUpperCase()"
                        style="border: 1px solid rgb(44, 103, 44)"
                        type="text"
                        id="couponCode"
                        placeholder="Enter coupon code"
                      />
                      <br /><br />

                      <div
                        style="
                          display: flex;
                          justify-content: space-between;
                          padding-bottom: 10px;
                        "
                      >
                        <div>
                          <button
                            class="btn btn-sm"
                            type="submit"
                            id="coupon-submit"
                          >
                            Apply Coupon
                          </button>
                        </div>
                        <div>
                          <a href="#" onclick="openCouponModal()"
                            >Available Coupons</a
                          >
                        </div>
                      </div>
                    </div>
                  </form>
                </div>

                <!-- Your modal HTML structure -->

                <!-- Button trigger modal -->

                <!-- Modal -->
                <div
                  class="modal fade"
                  id="exampleModalCenter"
                  tabindex="-1"
                  role="dialog"
                  aria-labelledby="exampleModalCenterTitle"
                  aria-hidden="true"
                >
                  <div
                    class="modal-dialog modal-dialog-centered custom-width"
                    role="document"
                  >
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">
                          Available coupons
                        </h5>
                        <button
                          onclick="closeCouponModal()"
                          type="button"
                          class="close"
                          data-dismiss="modal"
                          aria-label="Close"
                        >
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <table class="coupon-table">
                          <thead>
                            <tr>
                              <th></th>
                              <th>Code</th>
                              <th>Type</th>
                              <th>Value</th>
                              <th>Minimum Order</th>
                              <th>Expiry Date</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <% if(!coupons){ %>
                            <h5>Coupons are unavailable at the moment...</h5>
                            <% }else{ %> <% coupons.forEach((coupon)=>{%>
                            <!-- Add coupon rows dynamically based on your data -->
                            <tr>
                              <!-- Coupon information -->
                              <td>
                                <img
                                  style="
                                    height: 20px;
                                    width: 20px;
                                    margin-bottom: -5px;
                                  "
                                  src="\userAssets\assets\coupon1.png"
                                  alt=""
                                />
                              </td>
                              <td><%=coupon.code%></td>
                              <td><%=coupon.discountType%></td>
                              <td><%=coupon.discountValue%></td>
                              <td><%=coupon.minOrderAmount%></td>
                              <td>
                                <%= coupon.expirationDate.toLocaleDateString()
                                %>
                              </td>
                              <!-- Copy code icon -->
                              <!-- Copy code icon -->
                            </tr>
                            <%}) } %>
                            <!-- Add more rows as needed -->
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>

                <script>
                  // Open the modal
                  function openCouponModal() {
                    $("#exampleModalCenter").modal("show");
                  }

                  // Close the modal when the close 'X' button is clicked
                  function closeCouponModal() {
                    $("#exampleModalCenter").modal("hide");
                  }
                </script>

                <script
                  src="https://code.jquery.com/jquery-3.6.4.slim.min.js"
                  integrity="sha384-r/cBD9VX1Un/E3+RueX1uNSSEOf0kQl/r/9ZZXa7/oRMh0ZcVm2E5lLExnvpFQbJ"
                  crossorigin="anonymous"
                ></script>
                <script
                  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
                  integrity="sha384-ZMP7rVo3mIq8PCD7R1XMwoaZyAAdm6s1gCBmxFVo/EEQ1W98/Dt6Oq5F5FflC2G"
                  crossorigin="anonymous"
                ></script>

                <!-- Add this script within your HTML file -->
                <!-- Add this script within your HTML file -->
                <script>
                  document.addEventListener("DOMContentLoaded", function () {
                    const couponForm = document.querySelector("#coupon-form");
                    const couponDiscountElement =
                      document.getElementById("couponDiscount");
                    const grandTotalElement =
                      document.getElementById("grandTotal");
                    console.log(
                      "couponDiscountElement:",
                      couponDiscountElement
                    );
                    console.log("grandTotalElement:", grandTotalElement);

                    couponForm.addEventListener(
                      "submit",
                      async function (event) {
                        event.preventDefault();

                        // Get the coupon code from the input field
                        const couponCode =
                          document.getElementById("couponCode").value;

                        // Get the grand total from the element
                        const grandTotal = parseFloat(
                          grandTotalElement.textContent.trim()
                        );

                        // Send a POST request to the `/getCouponValue` endpoint with the coupon code and grand total as query parameters
                        const url = `/getCouponValue?couponCode=${couponCode}&grandTotal=${Number(
                          grandTotal
                        )}`;
                        const response = await fetch(url, {
                          method: "POST",
                          headers: {
                            "Content-Type": "application/json",
                          },
                        });

                        if (response.ok) {
                          const data = await response.json();

                          // Update the coupon discount element and the grand total element with the data returned from the server
                          couponDiscountElement.textContent =
                            data.discountValue;
                          if (grandTotalElement) {
                            grandTotalElement.textContent =
                              data.discountedPrice;
                            Swal.fire({
                              position: "top-center",
                              icon: "success",
                              title: "Coupon has been applied successfully!",
                              showConfirmButton: false,
                              timer: 1500,
                            });
                          } else {
                            console.error(
                              "grandTotalElement is null or undefined."
                            );
                          }
                        } else {
                          const errorMessage = await response.json();

                          Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: errorMessage.error,
                            footer: "",
                          });
                          console.error(
                            "An error occurred while fetching coupon value"
                          );
                        }
                      }
                    );
                  });
                </script>
                <div class="payment_method">
                  <div class="mb-25">
                    <h5>Payment</h5>
                  </div>
                  <form method="post" id="paymentForm">
                    <input
                      type="hidden"
                      value="<%=userCart%>"
                      name="userCart"
                      id="userCart"
                    />
                    <input
                      type="hidden"
                      value="<%=userData%>"
                      name="userCart"
                      id="userData"
                    />
                    <div class="form-group">
                      <label for="selected_address"
                        >Select Delivery Address:</label
                      >
                      <select
                        style="border: 1px rgb(0, 183, 255) solid"
                        class="form-control"
                        id="selected_address"
                        name="selected_address"
                        required
                      >
                        <% userAddress.address.forEach((item, index) => { %>
                        <option value="<%= index %>">
                          Address <%= index + 1 %>:<br />
                          <%= item.userName %>, <br />
                          <%= item.city %>, <%= item.state %>, <br />
                          <%= item.pincode %>, <br />
                          Phone: <%= item.phoneNumber %>
                        </option>
                        <% }); %>
                      </select>
                    </div>
                    <label for="payment_option">Payment option:</label>
                    <div class="form-group d-flex">
                      <button
                        style="margin-right: 20px"
                        id="codButton"
                        class="btn btn-sm btn-fill-out btn-block mt-30"
                      >
                        Cash on delivery
                      </button>

                      <button
                        style="margin-right: 20px"
                        id="razorpayButton"
                        class="btn btn-sm btn-fill-out btn-block mt-30"
                      >
                        Online payment
                      </button>

                      <button
                        id="walletButton"
                        class="btn btn-sm btn-fill-out btn-block mt-30"
                      >
                        Pay using wallet
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const priceSpans = document.querySelectorAll(".price-span");
        let total = 0;
        priceSpans.forEach((element) => {
          var value = parseFloat(element.textContent);
          if (!isNaN(value)) {
            total += value;
          }
          document.querySelector("#grandTotal").textContent = total;
        });
      });
    </script>

    <script>
      //  cod button
      document.addEventListener("DOMContentLoaded", function () {
        const couponDiscountElement = document.getElementById("couponDiscount");
        const codButton = document.getElementById("codButton");

        codButton.addEventListener("click", async function (event) {
          event.preventDefault();

          // Move the coupon code retrieval inside the event listener
          const couponCode = document.getElementById("couponCode").value;
          console.log("this is the code " + couponCode);

          const selectedAddress =
            document.getElementById("selected_address").value;
          const userCart = document.getElementById("userCart").value;

          const requestBody = {
            selected_address: selectedAddress,
            userCart: userCart,
            discount: parseFloat(couponDiscountElement.textContent.trim()),
          };
          console.log(requestBody.discount);

          // Send the data to your server using the Fetch API
          const response = await fetch(`/codOrder?couponCode=${couponCode}`, {
  method: "POST",
  headers: {
    "Content-Type": "application/json",
  },
  body: JSON.stringify(requestBody),
});
try {
  const data = await response.json();

  if (response.ok) {
    Swal.fire({
      position: "top-center",
      icon: "success",
      title: "Order placed",
      showConfirmButton: false,
      timer: 1500,
    });
    window.location.href = "/orderPlaced";
  } else {
    console.log("An error happened");
    if (response.status === 404) {
      Swal.fire({
        position: "top-center",
        icon: "error",
        title: "Insufficient Stock",
        showConfirmButton: false,
        timer: 1500,
      });
    } else {
      Swal.fire({
        position: "top-center",
        icon: "error",
        title: data.message || "Failed to place the order",
        showConfirmButton: false,
        timer: 1500,
      });
    }
  }
} catch (error) {
  console.error("Error parsing JSON: ", error);
  Swal.fire({
    position: "top-center",
    icon: "error",
    title: "Failed to place the order",
    showConfirmButton: false,
    timer: 1500,
  });
}
        });
//razorpay button
const razorpayButton = document.getElementById("razorpayButton");
razorpayButton.addEventListener("click", async function (event) {
  event.preventDefault();

  const selectedAddress = document.getElementById("selected_address").value;
  const userCart = document.getElementById("userCart").value;
  const couponCode = document.getElementById("couponCode").value; // Get the coupon code
  const userData = document.getElementById("userData").value;

  const requestBody = {
    selected_address: selectedAddress,
    userCart: userCart,
    discount: parseFloat(couponDiscountElement.textContent.trim()),
    couponCode: couponCode, // Include the coupon code in the request body
  };

  try {
    // Send the data to your server using the Fetch API
    const response = await fetch("/razorpayOrder", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(requestBody),
    });

    if (response.ok) {
      const data = await response.json();
      if (data && data.razorOrder) {
        const order = data.razorOrder;
        const orderId = order.id;
        const amount = order.amount;
        console.log(orderId);
        var options = {
          key: "rzp_test_hF6WGmggeA2qso",
          amount: amount,
          currency: "INR",
          name: userData.name,
          description: "Test Transaction",
          image: "",
          order_id: orderId,
          handler: function (response) {
            Swal.fire({
              position: "top-end",
              icon: "success",
              title: "Payment successful",
              showConfirmButton: false,
              timer: 1500,
            });
            window.location.href = `/paymentStatus?orderId=${data.razorOrder.id}&status=Success`;
          },
          prefill: {
            name: userData.name,
            email: userData.email,
            contact: userData.phoneNumber,
          },
          notes: {
            address: "Razorpay Corporate Office",
          },
          theme: {
            color: "#3399cc",
          },
        };
        var rzp1 = new Razorpay(options);
        rzp1.on("payment.failed", function (response) {
          Swal.fire({
            icon: "error",
            title: "Oops...",
            text: "Payment failed!",
            footer: '<a href="#">Why do I have this issue?</a>',
          });
          window.location.href = `/paymentStatus?orderId=${data.razorOrder.id}&status=Failed`;
        });
        rzp1.open();
      }
    } else {
      const errorData = await response.json();
      if (response.status === 404 && errorData.message === "Insufficient stock") {
        Swal.fire({
          icon: "error",
          title: "Insufficient Stock",
          showConfirmButton: false,
          timer: 1500,
        });
      } else {
        console.log("An error happened");
        throw new Error(`HTTP error! Status: ${response.status}`);
      }
    }
  } catch (error) {
    console.error("Error during Razorpay payment:", error);
    Swal.fire({
      icon: "error",
      title: "Oops...",
      text: "Failed to process the payment",
      timer: 1500,
    });
  }
});

// wallet payment
const walletButton = document.getElementById("walletButton");

walletButton.addEventListener("click", async function (event) {
  event.preventDefault();

  const selectedAddress = document.getElementById("selected_address").value;
  const userCart = document.getElementById("userCart").value;
  const couponCode = document.getElementById("couponCode").value; // Get the coupon code

  let response; // Declare the variable outside the try block

  try {
    // Send the data to your server using the Fetch API
    response = await fetch("/walletOrder", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        selected_address: selectedAddress,
        userCart: userCart,
        discount: parseFloat(couponDiscountElement.textContent.trim()),
        couponCode: couponCode,
      }),
    });

    const data = await response.json();

    if (response.ok) {
      Swal.fire({
        position: "top-center",
        icon: "success",
        title: "Order placed",
        showConfirmButton: false,
        timer: 1500,
      });
      window.location.href = "/orderPlaced";
    } else {
      console.log("An error happened");
      if (response.status === 404 && data.blocked === "Some products are blocked") {
        Swal.fire({
          position: "top-center",
          icon: "error",
          title: "Some products are blocked",
          showConfirmButton: false,
          timer: 1500,
        });}
      else if (response.status === 404 && data.message === "Insufficient stock") {
        Swal.fire({
          position: "top-center",
          icon: "error",
          title: "Insufficient Stock",
          showConfirmButton: false,
          timer: 1500,
        });
      } else if (response.status === 404 && data.message === "Insufficient balance") {
        Swal.fire({
          position: "top-center",
          icon: "error",
          title: "Insufficient balance! Please use another method.",
          showConfirmButton: false,
          timer: 1500,
        });
      }
    }
  } catch (error) {
    console.error("Error parsing JSON: ", error);
    Swal.fire({
      position: "top-center",
      icon: "error",
      title: "Failed to place the order",
      showConfirmButton: false,
      timer: 1500,
    });
  }
});
      });


    </script>

    <footer class="main">
      
      <section class="section-padding footer-mid">
        <div class="container pt-15 pb-20">
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="widget-about font-md mb-md-5 mb-lg-0">
                <div class="logo logo-width-1 wow fadeIn animated">
                  <a href="/"
                    ><img
                      src="/userAssets/assets/imgs/theme/Endurance3.webp"
                      alt="logo"
                  /></a>
                </div>
                <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">
                  Contact
                </h5>
                <p class="wow fadeIn animated">
                  <strong>Address: </strong>562 Wellington Road, Street 32, San
                  Francisco
                </p>
                <p class="wow fadeIn animated">
                  <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                </p>
                <p class="wow fadeIn animated">
                  <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                </p>
                <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">
                  Follow Us
                </h5>
                <div
                  class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0"
                >
                  <a href="#"
                    ><img
                      src="/userAssets/assets/imgs/theme/icons/icon-facebook.svg"
                      alt=""
                  /></a>
                  <a href="#"
                    ><img
                      src="/userAssets/assets/imgs/theme/icons/icon-twitter.svg"
                      alt=""
                  /></a>
                  <a href="#"
                    ><img
                      src="/userAssets/assets/imgs/theme/icons/icon-instagram.svg"
                      alt=""
                  /></a>
                  <a href="#"
                    ><img
                      src="/userAssets/assets/imgs/theme/icons/icon-pinterest.svg"
                      alt=""
                  /></a>
                  <a href="#"
                    ><img
                      src="/userAssets/assets/imgs/theme/icons/icon-youtube.svg"
                      alt=""
                  /></a>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-3">
              <h5 class="widget-title wow fadeIn animated">About</h5>
              <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Delivery Information</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms &amp; Conditions</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Support Center</a></li>
              </ul>
            </div>
            <div class="col-lg-2 col-md-3">
              <h5 class="widget-title wow fadeIn animated">My Account</h5>
              <ul class="footer-list wow fadeIn animated">
                <li><a href="/">View Cart</a></li>
                <li><a href="/wishlist">My Wishlist</a></li>
              </ul>
            </div>
            <div class="col-lg-4">
              <h5 class="widget-title wow fadeIn animated">Install App</h5>
              <div class="row">
                <div class="col-md-8 col-lg-12">
                  <p class="wow fadeIn animated">
                    From App Store or Google Play
                  </p>
                  <div class="download-app wow fadeIn animated">
                    <a href="#" class="hover-up mb-sm-4 mb-lg-0"
                      ><img
                        class="active"
                        src="/userAssets/assets/imgs/theme/app-store.jpg"
                        alt=""
                    /></a>
                    <a href="#" class="hover-up"
                      ><img
                        src="/userAssets/assets/imgs/theme/google-play.jpg"
                        alt=""
                    /></a>
                  </div>
                </div>
                <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                  <p class="mb-20 wow fadeIn animated">
                    Secured Payment Gateways
                  </p>
                  <img
                    class="wow fadeIn animated"
                    src="/userAssets/assets/imgs/theme/payment-method.png"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="container pb-20 wow fadeIn animated">
        <div class="row">
          <div class="col-12 mb-20">
            <div class="footer-bottom"></div>
          </div>
          <div class="col-lg-6">
            <p class="float-md-left font-sm text-muted mb-0">
              &copy; 2022, <strong class="text-brand">Endurance</strong>cycles
            </p>
          </div>
          <div class="col-lg-6">
            <p class="text-lg-end text-start font-sm text-muted mb-0">
              Designed by
              <a href="#" target="_blank">Joe Stephen</a>
              All rights reserved
            </p>
          </div>
        </div>
      </div>
    </footer>
    <!-- Preloader Start -->
    <div id="preloader-active">
      <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
          <div class="text-center">
            <h5 class="mb-5">Now Loading</h5>
            <div class="loader">
              <div class="bar bar1"></div>
              <div class="bar bar2"></div>
              <div class="bar bar3"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Vendor JS-->
    <script src="/userAssets/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/userAssets/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/userAssets/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/userAssets/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/userAssets/assets/js/plugins/slick.js"></script>
    <script src="/userAssets/assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/userAssets/assets/js/plugins/wow.js"></script>
    <script src="/userAssets/assets/js/plugins/jquery-ui.js"></script>
    <script src="/userAssets/assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="/userAssets/assets/js/plugins/magnific-popup.js"></script>
    <script src="/userAssets/assets/js/plugins/select2.min.js"></script>
    <script src="/userAssets/assets/js/plugins/waypoints.js"></script>
    <script src="/userAssets/assets/js/plugins/counterup.js"></script>
    <script src="/userAssets/assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="/userAssets/assets/js/plugins/images-loaded.js"></script>
    <script src="/userAssets/assets/js/plugins/isotope.js"></script>
    <script src="/userAssets/assets/js/plugins/scrollup.js"></script>
    <script src="/userAssets/assets/js/plugins/jquery.vticker-min.js"></script>
    <!-- Template  JS -->
    <script src="/userAssets/assets/js/maind134.js?v=3.4"></script>
    <script src="/userAssets/assets/js/shopd134.js?v=3.4"></script>
  </body>

  <!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
</html>
