<!DOCTYPE html>
<html class="no-js" lang="en">
  <!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
  <head>
    <meta charset="utf-8" />
    <title>Evara - eCommerce HTML Template</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/userAssets/assets/imgs/theme/favicon.svg"
    />
    <!-- Template CSS -->
    <link rel="stylesheet" href="/userAssets/assets/css/maind134.css?v=3.4" />
    <!-- Add these links to your HTML file -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>

  <body>
    <header class="header-area header-style-1 header-height-2">
      <div class="header-top header-top-ptb-1 d-none d-lg-block">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-xl-3 col-lg-4">
              <div class="header-info">
                <ul>
                  <li>
                    <i class="fi-rs-smartphone"></i>
                    <a href="#">(+01) - 2345 - 6789</a>
                  </li>
                  <li>
                    <i class="fi-rs-marker"></i
                    ><a href="page-contact.html">Our location</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xl-6 col-lg-4">
              <div class="text-center">
                <div id="news-flash" class="d-inline-block">
                  <ul>
                    <li>
                      Get great devices up to 50% off
                      <a href="shop-grid-right.html">View details</a>
                    </li>
                    <li>Supper Value Deals - Save more with coupons</li>
                    <li>
                      Trendy 25silver jewelry, save up 35% off today
                      <a href="shop-grid-right.html">Shop now</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4">
              <div class="header-info header-info-right">
                <ul>
                  <li>
                    <a class="language-dropdown-active" href="#">
                      <i class="fi-rs-world"></i> English
                      <i class="fi-rs-angle-small-down"></i
                    ></a>
                    <ul class="language-dropdown">
                      <li>
                        <a href="#"
                          ><img
                            src="/userAssets/assets/imgs/theme/flag-fr.png"
                            alt=""
                          />Français</a
                        >
                      </li>
                      <li>
                        <a href="#"
                          ><img
                            src="/userAssets/assets/imgs/theme/flag-dt.png"
                            alt=""
                          />Deutsch</a
                        >
                      </li>
                      <li>
                        <a href="#"
                          ><img
                            src="/userAssets/assets/imgs/theme/flag-ru.png"
                            alt=""
                          />Pусский</a
                        >
                      </li>
                    </ul>
                  </li>


                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
        <div class="container">
          <div class="header-wrap">
            <div class="logo logo-width-1">
              <a href="/index-4"
                ><img src="/userAssets/assets/imgs/theme/logo.svg" alt="logo"
              /></a>
            </div>
            <div class="header-right">
              <div class="header-action-right">
                <div class="header-action-2">
                  <div class="header-action-icon-2">
                    <!-- <a href="shop-wishlist.html"> -->
                      <img
                        class="svgInject"
                        alt="Evara"
                        src="/userAssets/assets/imgs/theme/icons/icon-heart.svg"
                      />
                      <!-- <span class="pro-count blue">4</span> -->
                    </a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header-bottom header-bottom-bg-color sticky-bar">
        <div class="container">
          <div class="header-wrap header-space-between position-relative">
            <div class="logo logo-width-1 d-block d-lg-none">
              <a href="/index-4"
                ><img src="/userAssets/assets/imgs/theme/logo.svg" alt="logo"
              /></a>
            </div>
            <div class="header-nav d-none d-lg-flex">
              <div class="main-categori-wrap d-none d-lg-block">
                <div
                  class="categori-dropdown-wrap categori-dropdown-active-large"
                ></div>
              </div>
              <div
                class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block"
              >
                <nav>
                  <ul>
                    <li>
                      <a class="active" href="/index-4">Home <i></i></a>
                    </li>
                    <li>
                      <a href="page-about.html">About</a>
                    </li>

                    <li>
                      <a href="page-contact.html">Contact</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>

            
    </header>
    <div class="mobile-header-active mobile-header-wrapper-style">
      <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-top">
          <div class="mobile-header-logo">
            <a href="/index-4"
              ><img src="/userAssets/assets/imgs/theme/logo.svg" alt="logo"
            /></a>
          </div>
          <div
            class="mobile-menu-close close-style-wrap close-style-position-inherit"
          >
            <button class="close-style search-close">
              <i class="icon-top"></i>
              <i class="icon-bottom"></i>
            </button>
          </div>
        </div>
        <div class="mobile-header-content-area">
          <div class="mobile-search search-style-3 mobile-header-border">
            <form action="#">
              <input type="text" placeholder="Search for items…" />
              <button type="submit"><i class="fi-rs-search"></i></button>
            </form>
          </div>
          <div class="mobile-menu-wrap mobile-header-border">
            <div class="main-categori-wrap mobile-header-border"></div>
            <!-- mobile menu start -->
            <nav>
              <ul class="mobile-menu">
                <li class="menu-item-has-children">
                  <span class="menu-expand"></span><a href="/index-4">Home</a>
                </li>

                <li class="menu-item-has-children">
                  <span class="menu-expand"></span><a href="#">Language</a>
                  <ul class="dropdown">
                    <li><a href="#">English</a></li>
                    <li><a href="#">French</a></li>
                    <li><a href="#">German</a></li>
                    <li><a href="#">Spanish</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
            <!-- mobile menu end -->
          </div>
          <div class="mobile-header-info-wrap mobile-header-border">
            <div class="single-mobile-header-info mt-30">
              <a href="page-contact.html"> Our location </a>
            </div>
            <div class="single-mobile-header-info">
              <a href="page-login-register.html">Log In / Sign Up </a>
            </div>
            <div class="single-mobile-header-info">
              <a href="#">(+01) - 2345 - 6789 </a>
            </div>
          </div>
          <div class="mobile-social-icon">
            <h5 class="mb-15 text-grey-4">Follow Us</h5>
            <a href="#"
              ><img
                src="/userAssets/assets/imgs/theme/icons/icon-facebook.svg"
                alt=""
            /></a>
            <a href="#"
              ><img
                src="/userAssets/assets/imgs/theme/icons/icon-twitter.svg"
                alt=""
            /></a>
            <a href="#"
              ><img
                src="/userAssets/assets/imgs/theme/icons/icon-instagram.svg"
                alt=""
            /></a>
            <a href="#"
              ><img
                src="/userAssets/assets/imgs/theme/icons/icon-pinterest.svg"
                alt=""
            /></a>
            <a href="#"
              ><img
                src="/userAssets/assets/imgs/theme/icons/icon-youtube.svg"
                alt=""
            /></a>
          </div>
        </div>
      </div>
    </div>
    <main class="main">

      <section class="mt-50 mb-50">
        <div class="d-flex justify-content-center mb-5"><div class="allign items center"><h3>Order details</h3></div></div>
        <div style="border: 1px solid black; border-radius: 10px;" class="container p-4 ">
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                        <th>Payment method</th>
                        <th>Payment status</th>
                        <th>Order status</th>
                    </tr>
                </thead>
                <tbody>
                    <% orderDetails.products.forEach((product) => { %>
                        <tr>
                            <td><%= orderDetails.orderDate %></td>
                            <td>•<%= product.productId.name %></td>
                            <td>₹<%= product.price %></td>
                            <td><%= product.quantity %></td>
                            <td>₹<%= product.price * product.quantity %></td>
                            <td><%= orderDetails.paymentMethod %></td>
                            <td><%= orderDetails.paymentStatus %></td>
                            <td><%= orderDetails.orderStatus %></td>
                          </td>
                        </tr>
                        <% }); %>
                      </tbody>
                    </table>
                    <div  class="d-flex justify-content-center mb-5">
                      <div>
                        <a id="cancelButton" href="#" class="btn btn-danger" data-toggle="modal" data-target="#cancelModal">Cancel order</a>           
                        <td><a id="returnButton" href="#" class="btn btn-danger" data-toggle="modal" data-target="#returnModal">Return</a>
                </div>
            </div>
        </div>

        <div class="modal fade" id="returnModal" tabindex="-1" role="dialog" aria-labelledby="returnModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="returnModalLabel">Return Order</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      <form action="/returnOrder" method="post" id="returnForm">
                          <div class="form-group">
                              <input type="hidden" name="orderID" value="<%= orderDetails._id %>">
                              <label for="reason">Reason for Returning:</label>
                              <select class="form-control" id="reason" name="reason">
                                  <option value="" disabled>Select Reason</option>
                                  <option value="MISSHIPMENT">Received the wrong item</option>
                                  <option value="DAMAGED_PRODUCT">Received a broken/damaged item</option>
                                  <option value="MISSING_ITEM">Product is missing in the package</option>
                                  <option value="ITEM_NOT_AS_DESCRIBED">Product description is wrong on app/website</option>
                              </select>
                          </div>
                      </form>
                  </div>
      
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                      <button style="background-color: red;" type="button" id="confirmReturn">Yes</button>
                  </div>
              </div>
          </div>
      </div>
      <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cancelModalLabel">Cancel Order</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/cancelOrder" method="post" id="cancelForm">
                        <div class="form-group">
                          <input type="hidden" name="orderID" value="<%= orderDetails._id %>">
                            <label for="reason">Reason for Cancellation:</label>
                            <select class="form-control" id="reason" name="reason">
                                <option value="" disabled="">Select Reason</option>
                                <option value="change_contact_number">I want to change the contact details</option>
                                <option value="change_payment">I want to change the payment option</option>
                                <option value="delivery_time_long">I was hoping for a shorter delivery time</option>
                                <option value="change_ship_address">I want to change the delivery address</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button style="background-color: red;" type="button" id="confirmCancel">Yes</button>
                </div>
            </div>
        </div>
    </div>
    <script>
const returnButton = document.getElementById('returnButton');
const cancelButton = document.getElementById('cancelButton');
const orderStatus = '<%=orderDetails.orderStatus%>';
if(orderStatus=="Returned"||orderStatus=="Cancelled"){
  returnButton.style.display='none';
  cancelButton.style.display='none';
}
else{
  if(orderStatus=="Delivered"){
  returnButton.style.display='block';
  cancelButton.style.display='none';
}else{
  returnButton.style.display='none';
  cancelButton.style.display='block';
}}
</script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const confirmCancelButton = document.getElementById("confirmCancel");
    const cancelForm = document.getElementById("cancelForm");

    confirmCancelButton.addEventListener("click", function () {
        // Submit the form
        cancelForm.submit();
    });
});

</script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const confirmReturnButton = document.getElementById("confirmReturn");
    const returnForm = document.getElementById("returnForm");

    confirmReturnButton.addEventListener("click", function () {
        // Submit the form
        returnForm.submit();
    });
});
</script>
      </section>
    </main>


    <footer class="main">

      <section class="section-padding footer-mid">
        <div class="container pt-15 pb-20">
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="widget-about font-md mb-md-5 mb-lg-0">
                <div class="logo logo-width-1 wow fadeIn animated">
                  <a href="/index-4"
                    ><img
                      src="/userAssets/assets/imgs/theme/logo.svg"
                      alt="logo"
                  /></a>
                </div>
                <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">
                  Contact
                </h5>
                <p class="wow fadeIn animated">
                  <strong>Address: </strong>562 Wellington Road, Street 32, San
                  Francisco
                </p>
                <p class="wow fadeIn animated">
                  <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                </p>
                <p class="wow fadeIn animated">
                  <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                </p>
                <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">
                  Follow Us
                </h5>
                <div
                  class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0"
                >
                  <a href="#"
                    ><img
                      src="/userAssets/assets/imgs/theme/icons/icon-facebook.svg"
                      alt=""
                  /></a>
                  <a href="#"
                    ><img
                      src="/userAssets/assets/imgs/theme/icons/icon-twitter.svg"
                      alt=""
                  /></a>
                  <a href="#"
                    ><img
                      src="/userAssets/assets/imgs/theme/icons/icon-instagram.svg"
                      alt=""
                  /></a>
                  <a href="#"
                    ><img
                      src="/userAssets/assets/imgs/theme/icons/icon-pinterest.svg"
                      alt=""
                  /></a>
                  <a href="#"
                    ><img
                      src="/userAssets/assets/imgs/theme/icons/icon-youtube.svg"
                      alt=""
                  /></a>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-3">
              <h5 class="widget-title wow fadeIn animated">About</h5>
              <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Delivery Information</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms &amp; Conditions</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Support Center</a></li>
              </ul>
            </div>
            <div class="col-lg-2 col-md-3">
              <h5 class="widget-title wow fadeIn animated">My Account</h5>
              <ul class="footer-list wow fadeIn animated">
                <li><a href="#">Sign In</a></li>
                <li><a href="#">View Cart</a></li>
                <!-- <li><a href="#">My Wishlist</a></li> -->
                <li><a href="#">Track My Order</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Order</a></li>
              </ul>
            </div>
            <div class="col-lg-4">
              <h5 class="widget-title wow fadeIn animated">Install App</h5>
              <div class="row">
                <div class="col-md-8 col-lg-12">
                  <p class="wow fadeIn animated">
                    From App Store or Google Play
                  </p>
                  <div class="download-app wow fadeIn animated">
                    <a href="#" class="hover-up mb-sm-4 mb-lg-0"
                      ><img
                        class="active"
                        src="/userAssets/assets/imgs/theme/app-store.jpg"
                        alt=""
                    /></a>
                    <a href="#" class="hover-up"
                      ><img
                        src="/userAssets/assets/imgs/theme/google-play.jpg"
                        alt=""
                    /></a>
                  </div>
                </div>
                <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                  <p class="mb-20 wow fadeIn animated">
                    Secured Payment Gateways
                  </p>
                  <img
                    class="wow fadeIn animated"
                    src="/userAssets/assets/imgs/theme/payment-method.png"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="container pb-20 wow fadeIn animated">
        <div class="row">
          <div class="col-12 mb-20">
            <div class="footer-bottom"></div>
          </div>
          <div class="col-lg-6">
            <p class="float-md-left font-sm text-muted mb-0">
              &copy; 2022, <strong class="text-brand">Evara</strong> - HTML
              Ecommerce Template
            </p>
          </div>
          <div class="col-lg-6">
            <p class="text-lg-end text-start font-sm text-muted mb-0">
              Designed by
              <a href="http://alithemes.com/" target="_blank">Alithemes.com</a>.
              All rights reserved
            </p>
          </div>
        </div>
      </div>
    </footer>
    <!-- Preloader Start -->
    <div id="preloader-active">
      <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
          <div class="text-center">
            <h5 class="mb-5">Now Loading</h5>
            <div class="loader">
              <div class="bar bar1"></div>
              <div class="bar bar2"></div>
              <div class="bar bar3"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Vendor JS-->
    <script src="/userAssets/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/userAssets/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/userAssets/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/userAssets/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/userAssets/assets/js/plugins/slick.js"></script>
    <script src="/userAssets/assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/userAssets/assets/js/plugins/wow.js"></script>
    <script src="/userAssets/assets/js/plugins/jquery-ui.js"></script>
    <script src="/userAssets/assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="/userAssets/assets/js/plugins/magnific-popup.js"></script>
    <script src="/userAssets/assets/js/plugins/select2.min.js"></script>
    <script src="/userAssets/assets/js/plugins/waypoints.js"></script>
    <script src="/userAssets/assets/js/plugins/counterup.js"></script>
    <script src="/userAssets/assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="/userAssets/assets/js/plugins/images-loaded.js"></script>
    <script src="/userAssets/assets/js/plugins/isotope.js"></script>
    <script src="/userAssets/assets/js/plugins/scrollup.js"></script>
    <script src="/userAssets/assets/js/plugins/jquery.vticker-min.js"></script>
    <!-- Template  JS -->
    <script src="/userAssets/assets/js/maind134.js?v=3.4"></script>
    <script src="/userAssets/assets/js/shopd134.js?v=3.4"></script>
  </body>

  <!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
</html>
